{% extends "base_dash.html" %}
{% load crispy_forms_tags %}


{% block entete_dash %}

<header class="page-header page-header-compact page-header-light border-bottom bg-white mb-4">
	<div class="container-fluid px-4">
	    <div class="page-header-content">
	        <div class="row justify-content-between pt-3">
	            <div class="col-auto mb-3">
	                <h1 class="page-header-title">
	                    <div class="page-header-icon">{% block entete_icone %}{% endblock %}</div>
	                    Liste des {% block entete_objets_a_lister %}{% endblock %}
	                </h1>
	            </div>
                <div class="col-12 col-xl-auto mb-3">
                {% block entete_boutons_droites %}{% endblock %}
                </div>
	        </div>
	    </div>
	</div>
</header>
{% endblock %}

{% block contenu_dash %}
<div class="container-fluid px-4">
	{% block dessus_tableau %}{% endblock %}
    <div class="row">
        <div class="col">
            <div class="card mb-4">
                <div class="card-body">
                    {% block tableau %}{% endblock %}
                </div>
            </div>             
        </div>      
    </div>
</div>
{% endblock %}

{% block js_page %}
{% include 'table1.html' %}
{% endblock %}