{% include "easter_egg.txt" %}
<!DOCTYPE html>
<html lang="fr">
    <head>
        {% include "meta.html" %}
        <title>{% block titre_page %}{% endblock %}</title>
        {% include "style_dash.html" %}
        {% block style_page %}{% endblock %}
        {{ form.media }}
    </head>
    <body class="nav-fixed">
        {% include "navbar_dash.html" %}
        <div id="layoutSidenav">
            {% include "sidebar.html" %}
            <div id="layoutSidenav_content">
                
                <main>
                    {% include 'message.html' %}
                        {% block entete_dash %}{% endblock %}

                    <!-- Main page content-->

                        {% block contenu_dash %}{% endblock %}

                </main>
                {% include "footer.html" %}
            </div>
        </div>
        {% include "js_dash.html" %}
        {% block js_page %}{% endblock %}
    </body>
</html>
