{% include "easter_egg.txt" %}
<!DOCTYPE html>
<html lang="fr">
    <head>
        {% include "meta.html" %}
        <title>{% block titre_page %}{% endblock %}</title>
        {% include "style.html" %}
        {% block style_page %}{% endblock %}
        {{ form.media }}
    </head>
    <body>
        <div id="layoutDefault">
            <div id="layoutDefault_content">
                <main>
                    <!-- Navbar-->
                    {% include "navbar.html" %}
                    <!-- Page Header-->
                    {% block entete %}{% endblock %}
                            
                    <!-- Contenu-->
                    {% block contenu %}{% endblock %}
                </main>
            </div>
            <div id="layoutDefault_footer">
                {% include "footer.html" %}
            </div>
        </div>
        {% include "js.html" %}
        {% block js_page %}{% endblock %}
    </body>
</html>
