<nav class="navbar navbar-marketing navbar-expand-lg bg-transparent {% if '/profile/' in request.path %}navbar-dark{% else %}navbar-light{% endif %} fixed-top">
    <div class="container-fluid text-black">
        <a class="navbar-brand" href="{% url 'page:accueil' %}">kwargs industria</a><button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><i class="fas fa-bars {% if '/profile/' in request.path %}text-white{% else %}text-black{% endif %}"></i></button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav ml-auto mr-lg-5">
                <li class="nav-item"><a class="nav-link" href="{% url 'blog:index' %}">Blog</a></li>
                <li class="nav-item"><a class="nav-link" href="{% url 'glossaire:index' %}">Glossaire</a></li>
                <li class="nav-item"><a class="nav-link" href="{% url 'page:accueil' %}#contact">Contact</a></li>
                {% if user.is_authenticated %}
                <li class="nav-item"><a class="nav-link" href="{% url 'catalogue:index' %}">Application</a></li>
                <li class="nav-item"><a class="nav-link" href="{% url 'profile' %}">Mon profil</a></li>
                <li class="nav-item"><a class="nav-link" href="{% url 'logout' %}">Se déconnecter</a></li>
                {% else %}
                <li class="nav-item"><a class="nav-link" href="{% url 'login' %}">Se connecter</a></li>
                {% endif %}
            </ul>
        </div>
    </div>
</nav>