{% extends "public/base.html" %}
{% load static %}

{% block titre_page %}{{ object }}{% endblock %}

{% block style_page %}

{% endblock %}

{% block entete %}
<header class="page-header-ui page-header-ui-dark bg-gradient-primary-to-secondary">
    <div class="page-header-ui-content">
        <div class="container px-5 text-center">
            <div class="row gx-5 justify-content-center">
                <div class="col-lg-8">
                    <h1 class="page-header-ui-title">{{ object.mot }}</h1>
                    <p class="page-header-ui-text mb-0">
                        {% for tag in object.tags.all %}
                        <span>{{ tag }} </span>
                        {% endfor %}
                    </p>
                </div>
            </div>
        </div>
    </div>
    {% include "wave_light.html" %}
</header>
{% endblock %}

{% block contenu %}
<section class="bg-light py-4">
    <div class="container">
        <div class="row">
            <div class="col-lg-9">
                {{ object.desc|safe }}
            </div>
            <div class="col-lg-3">
                <h2>Sources</h2>
                {% if not object.references.all %}
                    {% if user.is_authenticated %}
                        <i class="fas fa-exclamation-triangle text-danger"></i>
                        <a href="{% url 'glossaire:source-ajout' %}" class="alert-link">Une défintion non sourcée n'est pas recevable : Ajouter une source</a>
                    {% endif %}
                {% else %}
                    {% for s in object.references.all %}
                    <a href="{{ s.lien }}" target="_blank">{{ s }}</a><br>
                    {% endfor %}
                {% endif %} 
            </div>
        </div>
        <hr class="my-5">
        <div class="row">
            <div class="col-md-6 mx-auto">
                <ul class="list-unstyled list-inline text-center">
                    {% if user.is_staff %}
                    <li class="list-inline-item"><a href="{% url 'glossaire:terme-modif' slug=object.slug %}">Editer</a></li>
                    <li class="list-inline-item"><a href="{% url 'glossaire:terms-list' %}">Retour à l'application</a></li>
                    {% endif %}
                    <li class="list-inline-item"><a href="{% url 'glossaire:index' %}">Retour</a></li>
                </ul>
            </div>
        </div>
    </div>
</section>
{% endblock %}