{% extends "base.html" %}
{% load static %}

{% block titre_page %}{{ object }}{% endblock %}


{% block contenu %}
<section class="bg-light py-15">
    <div class="container px-5">
        <div class="row gx-5 justify-content-center">
            <div class="col-lg-10 col-xl-8">
                <div class="single-post">
                    <h1>{{ object }}</h1>
                    <div class="d-flex align-items-center justify-content-between mb-5">
                        <div class="single-post-meta me-4">
                            <img class="single-post-meta-img" src="{{ object.created_by.personne.image.url }}">
                            <div class="single-post-meta-details">
                                <div class="single-post-meta-details-name">{{ object.created_by }}</div>
                                <div class="single-post-meta-details-date">{{ object.created|date}}</div>
                                <div class="single-post-meta-details-date">
                                    {% for tag in object.tags.all %}
                                    <span style="font-size: 0.75rem;">{{ tag }} </span>
                                    {% endfor %}    
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="single-post-text my-5">
                        {{ object.desc|safe }}
                        <hr class="my-5">
                        <div class="text-center"><a class="btn btn-transparent-dark" href="{% url 'glossaire:index' %}">Retour au Glossaire</a></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}

