{% extends "prive/base_list.html" %}
{% load crispy_forms_tags %}
{% block titre_page %}Documents en partage{% endblock %}

{% block entete_icone %}<i class="far fa-folder-open"></i>{% endblock %}

{% block entete_objets_a_lister %}documents partagés{% endblock %}

{% block entete_boutons_droites %}
<a class="btn btn-sm btn-light text-primary" href="{% url 'rudi:new-doc' %}">
    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-plus me-1"><line x1="12" y1="5" x2="12" y2="19"></line><line x1="5" y1="12" x2="19" y2="12"></line></svg>
    Ajouter un document
</a>
{% endblock %}

{% block dessus_tableau %}
<div class="row">
    <div class="col-auto mx-auto">
        <div class="alert alert-primary alert-icon" role="alert">
            <button class="btn-close" type="button" data-bs-dismiss="alert" aria-label="Close"></button>
            <div class="alert-icon-aside">
                <i class="fas fa-info"></i>
            </div>
            <div class="alert-icon-content">
                <h6 class="alert-heading">Publiés</h6>
                <p>Ce statut est appliqué aux documents dont l'utilisation a été autorisée, soit dans la construction d'un nouveau projet, soit dans l'exploitation d'un actif.</p>
                <p>Les documents publiés et archivés sont utilisés pour le Project Information Model et le Asset Information Model.</p>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block tableau %}
<table id="example" class="table" style="width: 100%;">
    <thead>
        <tr>
            <th>Nom</th>
            <th>Auteur</th>
            <th>Validation</th>
            <th>Modifications</th>    
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        {% for doc in object_list %}
        <tr>
            <td><a href="{% url 'rudi:doc-details' pk=doc.pk %}">{{ doc.nom }}</a></td>
            <td>
                {{ doc.history.last.history_user }}
            </td>
            <td>
                {% if doc.validation == 'AA' %}
                    <span class="badge bg-primary-soft text-primary">{{ doc.get_validation_display }}</span>
                {% elif doc.validation == 'A' %}
                    <span class="badge bg-info-soft text-info">{{ doc.get_validation_display }}</span>
                {% elif doc.validation == 'AC' %}
                    <span class="badge bg-success-soft text-success">{{ doc.get_validation_display }}</span>
                {% elif doc.validation == 'NA' %}
                    <span class="badge bg-danger-soft text-danger">{{ doc.get_validation_display }}</span>
                {% endif %}
            </td>
            <td>
                {{ doc.history.all|length }}
            </td>
            <td>
                <a class="btn btn-datatable btn-icon btn-transparent-dark me-2" href="{% url 'rudi:doc-modif' pk=doc.pk %}"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-edit text-green"><path d="M11 4H4a2 2 0 0 0-2 2v14a2 2 0 0 0 2 2h14a2 2 0 0 0 2-2v-7"></path><path d="M18.5 2.5a2.121 2.121 0 0 1 3 3L12 15l-4 1 1-4 9.5-9.5z"></path></svg></a>
                <a class="btn btn-datatable btn-icon btn-transparent-dark" href="{% url 'rudi:doc-delete' pk=doc.pk %}"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-trash-2 text-red"><polyline points="3 6 5 6 21 6"></polyline><path d="M19 6v14a2 2 0 0 1-2 2H7a2 2 0 0 1-2-2V6m3 0V4a2 2 0 0 1 2-2h4a2 2 0 0 1 2 2v2"></path><line x1="10" y1="11" x2="10" y2="17"></line><line x1="14" y1="11" x2="14" y2="17"></line></svg></a>
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}