asgiref==3.5.0
certifi==2021.10.8
charset-normalizer==2.0.12
crispy-bootstrap5==0.6
Django==3.2.12
django-bootstrap-datepicker-plus==4.0.0
django-cleanup==6.0.0
django-crispy-forms==1.14.0
django-crum==0.7.9
django-environ==0.8.1
django-taggit==2.1.0
django-tinymce==3.4.0
idna==3.3
mysqlclient==2.1.0
Pillow==9.0.1
pytz==2022.1
requests==2.27.1
sqlparse==0.4.2
typing_extensions==4.1.1
urllib3==1.26.9
