{% load static %}
      <nav class="navbar navbar-standard navbar-expand-lg fixed-top navbar-dark" data-navbar-darken-on-scroll="data-navbar-darken-on-scroll">
        <div class="container"><a class="navbar-brand" href="{% url 'page:accueil' %}"><span class="text-white dark__text-white">kwargs solutions</span></a>
          <button class="navbar-toggler collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#navbarStandard" aria-controls="navbarStandard" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
          <div class="collapse navbar-collapse scrollbar" id="navbarStandard">
            <ul class="navbar-nav ms-auto">
              <li class="nav-item d-flex align-items-center me-2 ">
                <a class="nav-link" href="{% url 'glossaire:index' %}">Glossaire</a>
              </li>
              <li class="nav-item d-flex align-items-center me-2">
                <a class="nav-link" href="{% url 'page:contact' %}">Contact</a>
              </li>
              {% if user.is_authenticated %}
              <li class="nav-item d-flex align-items-center me-2 ">
                <a class="nav-link" href="{% url 'catalogue:index' %}">Application</a>
              </li>
              <li class="nav-item d-flex align-items-center me-2 ">
                <a class="nav-link" href="{% url 'profile' %}">Mon Profil</a>
              </li>
              <li class="nav-item d-flex align-items-center me-2 ">
                <a class="nav-link" href="{% url 'logout' %}">Se déconnecter</a>
              </li>
              {% else %}
              <li class="nav-item d-flex align-items-center me-2 ">
                <a class="nav-link" href="{% url 'login' %}">Se connecter</a>
              </li>
              {% endif %}
            </ul>
          </div>
        </div>
      </nav>