{% extends "base_dash.html" %}
{% load crispy_forms_tags %}
{% block titre_page %}{{ object }}{% endblock %}
{% load static %}

{% block entete_dash %}
<header class="page-header page-header-compact page-header-light border-bottom bg-white mb-4">
    <div class="container-fluid px-4">
        <div class="page-header-content">
            <div class="row align-items-center justify-content-between pt-3">
                <div class="col-auto mb-3">
                    <h1 class="page-header-title">
                        <div class="page-header-icon"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-globe"><circle cx="12" cy="12" r="10"></circle><line x1="2" y1="12" x2="22" y2="12"></line><path d="M12 2a15.3 15.3 0 0 1 4 10 15.3 15.3 0 0 1-4 10 15.3 15.3 0 0 1-4-10 15.3 15.3 0 0 1 4-10z"></path></svg></div>
                        Details de la localisation
                    </h1>
                </div>
            </div>
        </div>
    </div>
</header>
{% endblock %}

{% block contenu_dash %}
<div class="container-fluid px-4">
    <div class="card bg-gradient-primary-to-secondary mb-4">
        <div class="card-body">
            <div class="d-flex align-items-center justify-content-between">
                <div class="me-3">
                    <div class="small text-white-50"></div>
                    <div class="h1 text-white">{{ object }}</div>
                </div>
            </div>
        </div>
    </div>

<div class="row">
    <div class="col-xxl-4 col-xl-12 mb-4">
        <div class="card card-header-actions h-100">
            <div class="card-header">
                Géolocalisation
            </div>
            <div class="card-body">

            </div>
        </div>
    </div>
    <div class="col-xxl-4 col-xl-6 mb-4">
        <div class="card card-header-actions h-100">
            <div class="card-header">
                Occupants
            </div>
            <div class="card-body">
                <ul class="list-unstyled">
                {% for occupant in occupants %}
                        {% for org in occupant.of_organization.all %}
                            <li><a href="{{ org.get_absolute_url }}">{{ org }}</a></li>
                        {% endfor %}
                {% endfor %}            
                </ul>
            </div>
        </div>
    </div>
    <div class="col-xxl-4 col-xl-6 mb-4">
        <div class="card card-header-actions h-100">
            <div class="card-header">
                Progress Tracker
                <div class="dropdown no-caret">
                    <button class="btn btn-transparent-dark btn-icon dropdown-toggle" id="dropdownMenuButton" type="button" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-more-vertical text-gray-500"><circle cx="12" cy="12" r="1"></circle><circle cx="12" cy="5" r="1"></circle><circle cx="12" cy="19" r="1"></circle></svg></button>
                    <div class="dropdown-menu dropdown-menu-end animated--fade-in-up" aria-labelledby="dropdownMenuButton">
                        <a class="dropdown-item" href="#!">
                            <div class="dropdown-item-icon"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-list text-gray-500"><line x1="8" y1="6" x2="21" y2="6"></line><line x1="8" y1="12" x2="21" y2="12"></line><line x1="8" y1="18" x2="21" y2="18"></line><line x1="3" y1="6" x2="3.01" y2="6"></line><line x1="3" y1="12" x2="3.01" y2="12"></line><line x1="3" y1="18" x2="3.01" y2="18"></line></svg></div>
                            Manage Tasks
                        </a>
                        <a class="dropdown-item" href="#!">
                            <div class="dropdown-item-icon"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-plus-circle text-gray-500"><circle cx="12" cy="12" r="10"></circle><line x1="12" y1="8" x2="12" y2="16"></line><line x1="8" y1="12" x2="16" y2="12"></line></svg></div>
                            Add New Task
                        </a>
                        <a class="dropdown-item" href="#!">
                            <div class="dropdown-item-icon"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-minus-circle text-gray-500"><circle cx="12" cy="12" r="10"></circle><line x1="8" y1="12" x2="16" y2="12"></line></svg></div>
                            Delete Tasks
                        </a>
                    </div>
                </div>
            </div>
            <div class="card-body">
                <h4 class="small">
                    Server Migration
                    <span class="float-end fw-bold">20%</span>
                </h4>
                <div class="progress mb-4"><div class="progress-bar bg-danger" role="progressbar" style="width: 20%" aria-valuenow="20" aria-valuemin="0" aria-valuemax="100"></div></div>
                <h4 class="small">
                    Sales Tracking
                    <span class="float-end fw-bold">40%</span>
                </h4>
                <div class="progress mb-4"><div class="progress-bar bg-warning" role="progressbar" style="width: 40%" aria-valuenow="40" aria-valuemin="0" aria-valuemax="100"></div></div>
                <h4 class="small">
                    Customer Database
                    <span class="float-end fw-bold">60%</span>
                </h4>
                <div class="progress mb-4"><div class="progress-bar" role="progressbar" style="width: 60%" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100"></div></div>
                <h4 class="small">
                    Payout Details
                    <span class="float-end fw-bold">80%</span>
                </h4>
                <div class="progress mb-4"><div class="progress-bar bg-info" role="progressbar" style="width: 80%" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100"></div></div>
                <h4 class="small">
                    Account Setup
                    <span class="float-end fw-bold">Complete!</span>
                </h4>
                <div class="progress"><div class="progress-bar bg-success" role="progressbar" style="width: 100%" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100"></div></div>
            </div>
            <div class="card-footer position-relative">
                <div class="d-flex align-items-center justify-content-between small text-body">
                    <a class="stretched-link text-body" href="#!">Visit Task Center</a>
                    <svg class="svg-inline--fa fa-angle-right" aria-hidden="true" focusable="false" data-prefix="fas" data-icon="angle-right" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 256 512" data-fa-i2svg=""><path fill="currentColor" d="M64 448c-8.188 0-16.38-3.125-22.62-9.375c-12.5-12.5-12.5-32.75 0-45.25L178.8 256L41.38 118.6c-12.5-12.5-12.5-32.75 0-45.25s32.75-12.5 45.25 0l160 160c12.5 12.5 12.5 32.75 0 45.25l-160 160C80.38 444.9 72.19 448 64 448z"></path></svg><!-- <i class="fas fa-angle-right"></i> Font Awesome fontawesome.com -->
                </div>
            </div>
        </div>
    </div>
</div>

</div>
{% endblock %}