{% extends 'prive/base.html' %}
{% load static %}
{% load humanize %}
{% block titre %}{{ object }}{% endblock %}
{% block contenu_dash %}

<div class="container">
	<div class="row mb-3 pt-5">
		<div class="col-lg-8 d-flex flex-column align-items-stretched">
			<div class="card mb-3">
			  <div class="bg-holder d-none d-lg-block bg-card" style="background-image:url('{% static 'img/corner-1.png' %}');">
			  </div>
			  <!--Titre -->
				<div class="card-body position-relative">
				    <div class="row">
				      <div class="col-lg-12">
				        <h1>{{ object.name }}</h1>
				        <p class="small float-end">Taille du fichier: <span class="text-primary fw-bold">{{ object.fichier.size|intcomma }}</span> octets</p>
				        <p class="mb-0 small"><em>créé le {{ object.history.last.history_date }}, modifié le {{ object.history.first.history_date }}</em></p>
				      </div>
				    </div>
			  	</div>
			</div>	
			<div class="card bg-light mb-3">
				<div class="card-body">
			    <div class="row">
			      <div class="col-lg-12">
			        <p class="mb-0">{{ object.description|safe }}</p>
			      </div>
			    </div>
			  </div>				
			</div>
			<div class="card mb-3">
			    <div class="card-body">
			        <div class="small text-muted mb-2">Role(s))</div>
			        <div class="row">
			            <div class="col">
							<ul class="list-unstyled">
								{% for role in object.roles.all %}
								<li>{{role}}</li>{% endfor %}
							</ul>
			            </div>
			        </div>
			    </div>
			</div>
			<div class="card mb-3">
			  <div class="card-body">
			    <div class="row justify-content-end align-items-center">
			      <div class="col-auto">
			        <a class="btn btn-falcon-default btn-sm me-2" href="{% url 'catalogue:orga-modif' pk=object.pk %}">Editer</a>
			        <a class="btn btn-falcon-primary btn-sm me-2" href="{{ object.fichier.url }}">Télécharger</a>
			      </div>
			    </div>
			  </div>
			</div>
		</div>
		<div class="col-lg-4 d-flex flex-column align-items-stretched">
			<div class="card mb-3">
			    <div class="card-body">
			    	{% if implantations %}
			        <div class="row">
						<div class="col">
						
								<h3>Implantation(s)</h3>
								<table class="table table-borderless table-sm">
									<tbody>
										{% for imp in implantations %}
										<tr>
											<td><span class="badge bg-danger-soft text-danger">{{ imp.fase_imp }}</span></td>
											<td><a href="{{ imp.get_absolute_url }}">{{ imp }}</a></td>											
											<td>{{ imp.get_type_enseignement_display }}</td>
										</tr>
										{% endfor %}
									</tbody>
								</table>
						
						</div>
			        </div>
			        {% else %}
			        <div class="row">
			            <div class="col">
							<ul class="list-unstyled">
								{% regroup adresses by user_defined_purpose as adresses_par_usage %}
								{% for usage, adrs in adresses_par_usage %}
									{% for ad in adrs %}
										<li><a href="{% url 'catalogue:localisation-details' pk=ad.pk %}">{{ ad }}</a> (<small>{{ usage }}</small>) </li>
									{% endfor %}
								{% endfor %}
							</ul>
			            </div>
			        </div>

			        {% endif %}
			    </div>
			</div>
			<div class="card mb-3">
			    <div class="card-body">
			        <div class="small text-muted mb-2">Relation(s) avec d'autres organisations</div>
			        <div class="row">
			            <div class="col">
			            	{% if relations %}
                            <ul class="list-unstyled">
                            	{% for rel in relations %}
	                                {% for r in rel.related_organization.all %}
	                                <li><a href="{{ r.get_absolute_url }}">{{ r }}</a></li>
	                                {% endfor %}
                                {% endfor %}
                            </ul>
                            {% elif depend_de %}
                            <ul class="list-unstyled">
                            	{% for dep in depend_de %}
	                                <li><a href="{{ dep.relating_organization.get_absolute_url }}">
	                                {{ dep.relating_organization }} {% for role in dep.relating_organization.roles.all %}
	                            		({{role}}) 
	                            	{% endfor %}</a></li>
                                {% endfor %}
                            </ul>
                            {% endif %}
			            </div>
			        </div>
			    </div>
			</div>				
		</div>
	</div>
	<div class="row mb-3">
		<div class="col-lg-6 d-flex flex-column align-items-stretched">

		</div>
		<div class="col-lg-6 d-flex flex-column align-items-stretched">
			
		</div>
	</div>
</div>


{% endblock %}