{% extends 'base.html' %}
{% load static %}

{% block titre_page %}Liste des Organisations{% endblock %}

{% block contenu %}
<div class="container-fluid py-10">
    <div class="row gx-4 justify-content-center pt-5">
        <div class="col-lg-10">
            <h1>{{ total }} Organisations</h1>
            <hr>
            <ul>
            {% for orga in object_list %}
                <li><a href="{{ orga.get_absolute_url }}">{{ orga }}</a></li>
            {% endfor %}                    
            </ul>
        </div>
    </div>
    {% include "pagination.html" %}
</div>  
{% endblock %}