{% extends 'base.html' %}
{% load static %}

{% block titre_page %}{{ object }}{% endblock %}

{% block contenu %}
<div class="container py-10">
    <div class="row gx-4 justify-content-center pt-5">
        <div class="col-lg-12">
            <h1>{{ object }}</h1>
            <hr>
            <div class="justify-content-center">
            <dl class="row">
                <dt class="col-sm-3">Rôle(s)</dt>
                <dd class="col-sm-9"><ul class="list-unstyled">{% for role in object.roles.all %}<li>{{role}}</li>{% endfor %}</ul></dd>
                {% if relations %}
                    {% for rel in relations %}
                        <dt class="col-sm-3">{{ rel.name }}</dt>
                        <dd class="col-sm-9">
                            <ul class="list-unstyled">
                                {% for r in rel.related_organization.all %}
                                <li><a href="{{ r.get_absolute_url }}">{{ r }}</a></li>
                                {% endfor %}
                            </ul>
                        </dd>
                    {% endfor %}
                {% endif %}
                <dt class="col-sm-3">Adresse(s) Postale(s)</dt>
                <dd class="col-sm-9"><ul class="list-unstyled">{% for ad in adresses %}<li>{{ ad }}</li>{% endfor %}</ul></dd>
                {% if fase %}
                {% for f in fase %}
                <dt class="col-sm-3">Réseau</dt>
                <dd class="col-sm-9">{{ f.reseau }}</dd>
                <dt class="col-sm-3">n° FASE</dt>
                <dd class="col-sm-9">{{ f.fase }}</dd>
                <dt class="col-sm-3">n° BCE</dt>
                <dd class="col-sm-9"><a href="https://kbopub.economie.fgov.be/kbopub/zoeknummerform.html?lang=fr&nummer={{ f.bce }}&actionLu=Rechercher" target="_blank">{{ f.bce }}</a></dd>
                {% endfor %}
                {% endif %}
            </dl>
            </div>
        </div>
    </div>
    {% include "pagination.html" %}
</div>  
{% endblock %}