{% extends "base_dash.html" %}
{% load crispy_forms_tags %}
{% block titre_page %}{{ object.name }}{% endblock %}
{% load static %}

{% block entete_dash %}
<header class="page-header page-header-compact page-header-light border-bottom bg-white mb-4">
    <div class="container-fluid px-4">
        <div class="page-header-content">
            <div class="row align-items-center justify-content-between pt-3">
                <div class="col-auto mb-3">
                    <h1 class="page-header-title">
                        <div class="page-header-icon"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-globe"><circle cx="12" cy="12" r="10"></circle><line x1="2" y1="12" x2="22" y2="12"></line><path d="M12 2a15.3 15.3 0 0 1 4 10 15.3 15.3 0 0 1-4 10 15.3 15.3 0 0 1-4-10 15.3 15.3 0 0 1 4-10z"></path></svg></div>
                        Details de l'organisation
                    </h1>
                </div>
            </div>
        </div>
    </div>
</header>
{% endblock %}

{% block contenu_dash %}
<div class="container-fluid px-4">
	<div class="card bg-gradient-primary-to-secondary mb-4">
	    <div class="card-body">
	        <div class="d-flex align-items-center justify-content-between">
	            <div class="me-3">
	                <div class="small text-white-50">Nom de l'organisation:</div>
	                <div class="h1 text-white">{{ object.name }}</div>
	            </div>
	        </div>
	    </div>
	</div>
	<div class="row">
		<div class="col-lg-6 pb-4">
			<div class="card">
			    <div class="card-body">
			    	{% if implantations %}
			        <div class="row">
						<div class="col">
							{% if implantations %}
								<h3>Implantation(s)</h3>
								<ul class="list-unstyled">
								{% for imp in implantations %}
									<li><a data-bs-toggle="modal" href="#fase{{ imp.fase_imp }}">{{ imp }}</a>
										<div class="modal fade" id="fase{{ imp.fase_imp }}" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
											<div class="modal-dialog" role="document">
												<div class="modal-content">
													<div class="modal-header">
													<h5 class="modal-title" id="exampleModalLabel">{{ imp }}</h5>
													<button class="btn-close" type="button" data-bs-dismiss="modal" aria-label="Close"></button>
													</div>
													<div class="modal-body">
														<ul class="list-group list-group-flush">
														  <li class="list-group-item d-flex justify-content-between align-items-center">
														    Id FASE
														    <span class="badge bg-secondary rounded-pill">{{ imp.fase_imp }}</span>
														  </li>
														  <li class="list-group-item d-flex justify-content-between align-items-center">
														    Type d'enseignement
														    <span>{{ imp.get_type_enseignement_display }}</span>
														  </li>
														</ul>
													</div>
													<div class="modal-footer"><button class="btn btn-secondary" type="button" data-bs-dismiss="modal">Close</button></div>
												</div>
											</div>
										</div>
									</li>

								{% endfor %}
								</ul>
							{% endif %}
						</div>

			        </div>
			        {% else %}
			        <div class="row">
			            <div class="col">
							<ul class="list-unstyled">
								{% regroup adresses by user_defined_purpose as adresses_par_usage %}

								{% for usage, adrs in adresses_par_usage %}
									{% for ad in adrs %}
										<li>{{ ad }} (<small>{{ usage }}</small>) </li>
									{% endfor %}
								{% endfor %}
							</ul>
			            </div>
			        </div>

			        {% endif %}
			    </div>
			</div>			
		</div>
		<div class="col-lg-2 pb-4">
			<div class="card">
			    <div class="card-body">
			        <div class="small text-muted mb-2">Role(s))</div>
			        <div class="row">
			            <div class="col">
							<ul class="list-unstyled">
								{% for role in object.roles.all %}
								<li>{{role}}</li>{% endfor %}
							</ul>
			            </div>
			        </div>
			    </div>
			</div>			
		</div>
		<div class="col-lg-4 pb-4">
			<div class="card">
			    <div class="card-body">
			        <div class="small text-muted mb-2">Relation(s) avec d'autres organisations</div>
			        <div class="row">
			            <div class="col">
			            	{% if relations %}
                            <ul class="list-unstyled">
                            	{% for rel in relations %}
	                                {% for r in rel.related_organization.all %}
	                                <li><a href="{{ r.get_absolute_url }}">{{ r }}</a></li>
	                                {% endfor %}
                                {% endfor %}
                            </ul>
                            {% elif depend_de %}
                            <ul class="list-unstyled">
                            	{% for dep in depend_de %}
	                                <li><a href="{{ dep.relating_organization.get_absolute_url }}">
	                                {{ dep.relating_organization }} {% for role in dep.relating_organization.roles.all %}
	                            		({{role}}) 
	                            	{% endfor %}</a></li>
                                {% endfor %}
                            </ul>
                            {% endif %}
			            </div>
			        </div>
			    </div>
			</div>			
		</div>
	</div>
</div>
{% endblock %}