{% extends 'public/base.html' %}
{% load static %}
{% load humanize %}
{% block titre %}{{ object }}{% endblock %}
{% block main %}
      {% include 'public/navbar.html' %}
      <!-- <HEADER> begin ============================-->
<div class="container">
	<div class="row flex-center min-vh-100 py-6">
		<div class="col-lg-8 mx-auto">
			<div class="card overflow-hidden mb-3">
			  <div class="bg-holder d-none d-lg-block bg-card" style="background-image:url('{% static 'img/corner-2.png' %}');">
			  </div>
			  <!--Titre -->
				<div class="card-body position-relative">
			    <div class="row">
			      <div class="col-lg-12">
			        <h1>{{ object.titre }}</h1>
			        <p class="mb-0"><em>{{ object.intro }}</em></p>
			      </div>
			    </div>
			  </div>
			</div>
			<!--Sous Titre -->
			<div class="card mb-3">
			  <div class="card-body">
			    <div class="row justify-content-between align-items-center">
			      <div class="col-md mb-3">
			        <span class="mb-5 mb-md-5 small">Créé par {{ object.created_by }}, {{ object.created|naturaltime }}</span>
              {% if object.published %}
                  <span class="badge badge-soft-success">Publié</span>
              {% else %}
                  <span class="badge badge-soft-warning">Brouillon</span>
              {% endif %}			        
			      </div>
			      {% if user.is_authenticated %}
			      <div class="col-auto">
			        <a class="btn btn-falcon-default btn-sm me-2" href="{% url 'blog:article-edition' slug=object.slug %}">Editer</a>
			        <a class="btn btn-falcon-default btn-sm" href="{% url 'blog:index' %}">Retour public</a>
			        <a class="btn btn-falcon-default btn-sm" href="{% url 'blog:articles-list' %}">Retour Dashboard</a>
			      </div>
			      {% else %}
			      <div class="col-auto">
			        <a class="btn btn-falcon-default btn-sm" href="{% url 'blog:index' %}">Retour</a>
			      </div>
			      {% endif %}
			    </div>
			  </div>
			</div>
			<!--Contenu -->
			<div class="card overflow-hidden mb-3">
				<div class="card-body position-relative">
			    <div class="row">
			      <div class="col-lg-12">
			        <p class="mb-0 dropcap">{{ object.contenu|safe }}</p>
			      </div>
			    </div>
			  </div>				
			</div>	
		</div>
	</div>	
</div>

      <!-- <HEADER> close =================+===========-->


      <!-- <FOOTER> begin ============================-->
      	{% include 'public/footer.html' %}
      <!-- <FOOTER> close ============================-->

{% endblock %}