{% load static %}
<ul class="treeview" id="livrables17juin22" data-options='{"striped":true}'>
	<!-- BIM Execution Plan -->
	<li class="treeview-list-item">
		<a data-bs-toggle="collapse" href="#execution" role="button" aria-expanded="false">
			<p class="treeview-text">
			Plan d'Exécution BIM
			</p>
		</a>
		<ul class="collapse treeview-list" id="execution" data-show="false">
			<li class="treeview-list-item">
				<a data-bs-toggle="collapse" href="#treeviewExample-2-1" role="button" aria-expanded="false">
					<p class="treeview-text">
					Annexes
					</p>
				</a>
				<ul class="collapse treeview-list" id="treeviewExample-2-1" data-show="false">
					<li class="treeview-list-item">
						<div class="treeview-item">
							<a class="flex-1" href="{% url 'rudi:download_livrable' pk=9 %}">
								<p class="treeview-text">
									<span class="me-2 far fa-file-pdf text-danger"></span>
									Annexe Géoréférencement
								</p>
							</a>
						</div>
					</li>
					<li class="treeview-list-item">
						<div class="treeview-item">
							<a class="flex-1" href="{% url 'rudi:download_livrable' pk=10 %}">
								<p class="treeview-text">
									<span class="me-2 far fa-file-pdf text-danger"></span>
									Annexe Qualité
								</p>
							</a>
						</div>
					</li>
					<li class="treeview-list-item">
						<div class="treeview-item">
							<a class="flex-1" href="{% url 'rudi:download_livrable' pk=11 %}">
								<p class="treeview-text">
									<span class="me-2 far fa-file-pdf text-danger"></span>
									Annexe TOTEM
								</p>
							</a>
						</div>
					</li>
					<li class="treeview-list-item">
						<div class="treeview-item">
							<a class="flex-1" href="{% url 'rudi:download_livrable' pk=12 %}">
								<p class="treeview-text">
									<span class="me-2 far fa-file-pdf text-danger"></span>
									Annexe Fusion IFC
								</p>
							</a>
						</div>
					</li>
				</ul>
			</li>
			<li class="treeview-list-item">
				<a data-bs-toggle="collapse" href="#treeviewExample-2-3" role="button" aria-expanded="false">
					<p class="treeview-text">
					Processus
					</p>
				</a>
				<ul class="collapse treeview-list" id="treeviewExample-2-3" data-show="false">
					<li class="treeview-list-item">
						<div class="treeview-item">
							<a class="flex-1" href="{% url 'rudi:download_livrable' pk=13 %}">
								<p class="treeview-text">
									<span class="me-2 far fa-file-pdf text-danger"></span>
									Workflow Structure
								</p>
							</a>
						</div>
					</li>
					<li class="treeview-list-item">
						<div class="treeview-item">
							<a class="flex-1" href="{% url 'rudi:download_livrable' pk=14 %}">
								<p class="treeview-text">
									<span class="me-2 far fa-file-pdf text-danger"></span>
									Workflow BIM Manager et Coordinateur - Architecture
								</p>
							</a>
						</div>
					</li>
					<li class="treeview-list-item">
						<div class="treeview-item">
							<a class="flex-1" href="{% url 'rudi:download_livrable' pk=15 %}">
								<p class="treeview-text">
									<span class="me-2 far fa-file-pdf text-danger"></span>
									Workflow BIM Coordinateur
								</p>
							</a>
						</div>
					</li>
					<li class="treeview-list-item">
						<div class="treeview-item">
							<a class="flex-1" href="{% url 'rudi:download_livrable' pk=16 %}">
								<p class="treeview-text">
									<span class="me-2 far fa-file-pdf text-danger"></span>
									Workflow BIM process manager
								</p>
							</a>
						</div>
					</li>
					<li class="treeview-list-item">
						<div class="treeview-item">
							<a class="flex-1" href="{% url 'rudi:download_livrable' pk=17 %}">
								<p class="treeview-text">
									<span class="me-2 far fa-file-pdf text-danger"></span>
									Workflow BIM Manager TS
								</p>
							</a>
						</div>
					</li>
					<li class="treeview-list-item">
						<div class="treeview-item">
							<a class="flex-1" href="{% url 'rudi:download_livrable' pk=18 %}">
								<p class="treeview-text">
									<span class="me-2 far fa-file-pdf text-danger"></span>
									DataFlow CDE
								</p>
							</a>
						</div>
					</li>
					<li class="treeview-list-item">
						<div class="treeview-item">
							<a class="flex-1" href="{% url 'rudi:download_livrable' pk=19 %}">
								<p class="treeview-text">
									<span class="me-2 far fa-file-pdf text-danger"></span>
									Workflow Coordinateur TS
								</p>
							</a>
						</div>
					</li>
					<li class="treeview-list-item">
						<div class="treeview-item">
							<a class="flex-1" href="{% url 'rudi:download_livrable' pk=20 %}">
								<p class="treeview-text">
									<span class="me-2 far fa-file-pdf text-danger"></span>
									Workflow Modeleur TS
								</p>
							</a>
						</div>
					</li>
				</ul>
			</li>
			<li class="treeview-list-item">
				<div class="treeview-item">
					<a class="flex-1" href="{% url 'rudi:download_livrable' pk=1 %}">
						<p class="treeview-text">
							<span class="me-2 far fa-file-pdf text-danger"></span>
							Scénario de la présentation
						</p>
					</a>
				</div>
			</li>
			<li class="treeview-list-item">
				<div class="treeview-item">
					<a class="flex-1" href="{% url 'rudi:download_livrable' pk=2 %}">
						<p class="treeview-text">
							<span class="me-2 far fa-file-pdf text-danger"></span>
							Plan d'exécution
						</p>
					</a>
				</div>
			</li>
			<li class="treeview-list-item">
				<div class="treeview-item">
					<a class="flex-1" href="{% url 'rudi:download_livrable' pk=3 %}">
						<p class="treeview-text">
							<span class="me-2 far fa-file-pdf text-danger"></span>
							Clash Detection Matrix
						</p>
					</a>
				</div>
			</li>
			<li class="treeview-list-item">
				<div class="treeview-item">
					<a class="flex-1" href="{% url 'rudi:download_livrable' pk=4 %}">
						<p class="treeview-text">
							<span class="me-2 far fa-file-excel text-success"></span>
							Convention de modélisation
						</p>
					</a>
				</div>
			</li>
			<li class="treeview-list-item">
				<div class="treeview-item">
					<a class="flex-1" href="{% url 'rudi:download_livrable' pk=5 %}">
						<p class="treeview-text">
							<span class="me-2 far fa-file-pdf text-danger"></span>
							Convention de nommage
						</p>
					</a>
				</div>
			</li>
			<li class="treeview-list-item">
				<div class="treeview-item">
					<a class="flex-1" href="{% url 'rudi:download_livrable' pk=6 %}">
						<p class="treeview-text">
							<span class="me-2 far fa-file-excel text-success"></span>
							Matrice de maturité BIM
						</p>
					</a>
				</div>
			</li>
			<li class="treeview-list-item">
				<div class="treeview-item">
					<a class="flex-1" href="{% url 'rudi:download_livrable' pk=7 %}">
						<p class="treeview-text">
							<span class="me-2 far fa-file-pdf text-danger"></span>
							Matrice RACI
						</p>
					</a>
				</div>
			</li>
			<li class="treeview-list-item">
				<div class="treeview-item">
					<a class="flex-1" href="{% url 'rudi:download_livrable' pk=8 %}">
						<p class="treeview-text">
							<span class="me-2 far fa-file-excel text-success"></span>
							TIDP-MIDP
						</p>
					</a>
				</div>
			</li>
		</ul>
	</li>
	<!-- BIM Protocol -->
	<li class="treeview-list-item">
		<a data-bs-toggle="collapse" href="#protocole" role="button" aria-expanded="false">
			<p class="treeview-text">
			Protocole BIM
			</p>
		</a>
		<ul class="collapse treeview-list" id="protocole" data-show="false">
			<li class="treeview-list-item">
				<a data-bs-toggle="collapse" href="#treeviewExample-2-1" role="button" aria-expanded="false">
					<p class="treeview-text">
					Annexes
					</p>
				</a>
				<ul class="collapse treeview-list" id="treeviewExample-2-1" data-show="false">
					<li class="treeview-list-item">
						<div class="treeview-item">
							<a class="flex-1" href="{% url 'rudi:download_livrable' pk=26 %}">
								<p class="treeview-text">
									<span class="me-2 far fa-file-pdf text-danger"></span>
									Organigramme BIM
								</p>
							</a>
						</div>
					</li>
					<li class="treeview-list-item">
						<div class="treeview-item">
							<a class="flex-1" href="{% url 'rudi:download_livrable' pk=27 %}">
								<p class="treeview-text">
									<span class="me-2 far fa-file-pdf text-danger"></span>
									Processus BIM
								</p>
							</a>
						</div>
					</li>
					<li class="treeview-list-item">
						<div class="treeview-item">
							<a class="flex-1" href="{% url 'rudi:download_livrable' pk=28 %}">
								<p class="treeview-text">
									<span class="me-2 far fa-file-pdf text-danger"></span>
									Vision BIM Exploitation
								</p>
							</a>
						</div>
					</li>
					<li class="treeview-list-item">
						<div class="treeview-item">
							<a class="flex-1" href="{% url 'rudi:download_livrable' pk=29 %}">
								<p class="treeview-text">
									<span class="me-2 far fa-file-pdf text-danger"></span>
									Annexe GEM
								</p>
							</a>
						</div>
					</li>
				</ul>
			</li>
			<li class="treeview-list-item">
				<div class="treeview-item">
					<a class="flex-1" href="{% url 'rudi:download_livrable' pk=21 %}">
						<p class="treeview-text">
							<span class="me-2 far fa-file-pdf text-danger"></span>
							Protocole
						</p>
					</a>
				</div>
			</li>
			<li class="treeview-list-item">
				<div class="treeview-item">
					<a class="flex-1" href="{% url 'rudi:download_livrable' pk=22 %}">
						<p class="treeview-text">
							<span class="me-2 far fa-file-pdf text-danger"></span>
							Programme
						</p>
					</a>
				</div>
			</li>
			<li class="treeview-list-item">
				<div class="treeview-item">
					<a class="flex-1" href="{% url 'rudi:download_livrable' pk=23 %}">
						<p class="treeview-text">
							<span class="me-2"><img src="{% static 'img/ifc_icone.png' %}" style="height:13.5px;"></span>
							Gabarit IFC2x3
						</p>
					</a>
				</div>
			</li>
			<li class="treeview-list-item">
				<div class="treeview-item">
					<a class="flex-1" href="{% url 'rudi:download_livrable' pk=24 %}">
						<p class="treeview-text">
							<span class="me-2"><img src="{% static 'img/ifc_icone.png' %}" style="height:13.5px;"></span>
							Gabarit IFC4
						</p>
					</a>
				</div>
			</li>
			<li class="treeview-list-item">
				<div class="treeview-item">
					<a class="flex-1" href="{% url 'rudi:download_livrable' pk=25 %}">
						<p class="treeview-text">
							<span class="me-2 far fa-file-pdf text-danger"></span>
							Programme Atelier
						</p>
					</a>
				</div>
			</li>
		</ul>
	</li>
	<!-- Mauqettes -->
	<li class="treeview-list-item">
		<a data-bs-toggle="collapse" href="#maquettes" role="button" aria-expanded="false">
			<p class="treeview-text">
			Maquettes
			</p>
		</a>
		<ul class="collapse treeview-list" id="maquettes" data-show="false">
			<li class="treeview-list-item">
				<a data-bs-toggle="collapse" href="#archi" role="button" aria-expanded="false">
					<p class="treeview-text">
					Architecture
					</p>
				</a>
				<ul class="collapse treeview-list" id="archi" data-show="false">
					<li class="treeview-list-item">
						<div class="treeview-item">
							<a class="flex-1" href="{% url 'rudi:download_livrable' pk=30 %}">
								<p class="treeview-text">
									<span class="me-2"><img src="{% static 'img/ifc_icone.png' %}" style="height:13.5px;"></span>
									Maquette IFC architecture bat 3
								</p>
							</a>
						</div>
					</li>
					<li class="treeview-list-item">
						<div class="treeview-item">
							<a class="flex-1" href="{% url 'rudi:download_livrable' pk=31 %}">
								<p class="treeview-text">
									<span class="me-2"><img src="{% static 'img/ifc_icone.png' %}" style="height:13.5px;"></span>
									Maquette IFC bâtiment 3
								</p>
							</a>
						</div>
					</li>
					<li class="treeview-list-item">
						<div class="treeview-item">
							<a class="flex-1" href="{% url 'rudi:download_livrable' pk=32 %}">
								<p class="treeview-text">
									<span class="me-2"><img src="{% static 'img/revit_icone.png' %}" style="height:13.5px;"></span>
									Maquette Architecture Revit
								</p>
							</a>
						</div>
					</li>				
				</ul>				
			</li>
			<li class="treeview-list-item">
				<a data-bs-toggle="collapse" href="#struc" role="button" aria-expanded="false">
					<p class="treeview-text">
					Structure
					</p>
				</a>
				<ul class="collapse treeview-list" id="struc" data-show="false">
					<li class="treeview-list-item">
						<div class="treeview-item">
							<a class="flex-1" href="{% url 'rudi:download_livrable' pk=33 %}">
								<p class="treeview-text">
									<span class="me-2"><img src="{% static 'img/ifc_icone.png' %}" style="height:13.5px;"></span>
									Maquette IFC structure bat 3
								</p>
							</a>
						</div>
					</li>
					<li class="treeview-list-item">
						<div class="treeview-item">
							<a class="flex-1" href="{% url 'rudi:download_livrable' pk=34 %}">
								<p class="treeview-text">
									<span class="me-2"><img src="{% static 'img/ifc_icone.png' %}" style="height:13.5px;"></span>
									Maquette IFC bat 3 TOTEM
								</p>
							</a>
						</div>
					</li>					
				</ul>				
			</li>
			<li class="treeview-list-item">
				<a data-bs-toggle="collapse" href="#mep" role="button" aria-expanded="false">
					<p class="treeview-text">
					MEP
					</p>
				</a>
				<ul class="collapse treeview-list" id="mep" data-show="false">
					<li class="treeview-list-item">
						<div class="treeview-item">
							<a class="flex-1" href="{% url 'rudi:download_livrable' pk=35 %}">
								<p class="treeview-text">
									<span class="me-2"><img src="{% static 'img/ifc_icone.png' %}" style="height:13.5px;"></span>
									Maquette IFC HVAC
								</p>
							</a>
						</div>
					</li>
					<li class="treeview-list-item">
						<div class="treeview-item">
							<a class="flex-1" href="{% url 'rudi:download_livrable' pk=36 %}">
								<p class="treeview-text">
									<span class="me-2"><img src="{% static 'img/ifc_icone.png' %}" style="height:13.5px;"></span>
									Maquette IFC ELEC
								</p>
							</a>
						</div>
					</li>
					<li class="treeview-list-item">
						<div class="treeview-item">
							<a class="flex-1" href="{% url 'rudi:download_livrable' pk=37 %}">
								<p class="treeview-text">
									<span class="me-2"><img src="{% static 'img/ifc_icone.png' %}" style="height:13.5px;"></span>
									Maquette IFC TS
								</p>
							</a>
						</div>
					</li>
					<li class="treeview-list-item">
						<div class="treeview-item">
							<a class="flex-1" href="{% url 'rudi:download_livrable' pk=38 %}">
								<p class="treeview-text">
									<span class="me-2"><img src="{% static 'img/ifc_icone.png' %}" style="height:13.5px;"></span>
									Maquette IFC SAN
								</p>
							</a>
						</div>
					</li>					
				</ul>				
			</li>			
		</ul>
	</li>
	<li class="treeview-list-item">
		<a data-bs-toggle="collapse" href="#coordination" role="button" aria-expanded="false">
			<p class="treeview-text">
			Coordination de maquettes
			</p>			
		</a>
		<ul class="collapse treeview-list" id="coordination" data-show="false">
			<li class="treeview-list-item">
				<div class="treeview-item">
					<a class="flex-1" href="{% url 'rudi:download_livrable' pk=39 %}">
						<p class="treeview-text">
							<span class="me-2"><img src="{% static 'img/ifc_icone.png' %}" style="height:13.5px;"></span>
							Maquette Structure Batiment 3
						</p>
					</a>
				</div>
			</li>
			<li class="treeview-list-item">
				<div class="treeview-item">
					<a class="flex-1" href="{% url 'rudi:download_livrable' pk=40 %}">
						<p class="treeview-text">
							<span class="me-2"><img src="{% static 'img/ifc_icone.png' %}" style="height:13.5px;"></span>
							Maquette Architecture Batiment 3
						</p>
					</a>
				</div>
			</li>
			<li class="treeview-list-item">
				<div class="treeview-item">
					<a class="flex-1" href="{% url 'rudi:download_livrable' pk=41 %}">
						<p class="treeview-text">
							<span class="me-2 far fa-file-excel text-success"></span>
							Clash detection list
						</p>
					</a>
				</div>
			</li>
			<li class="treeview-list-item">
				<div class="treeview-item">
					<a class="flex-1" href="{% url 'rudi:download_livrable' pk=42 %}">
						<p class="treeview-text">
							<span class="me-2"><img src="{% static 'img/solibri_icone.png' %}" style="height:13.5px;"></span>
							Clash detection model
						</p>
					</a>
				</div>
			</li>
			<li class="treeview-list-item">
				<div class="treeview-item">
					<a class="flex-1" href="{% url 'rudi:download_livrable' pk=43 %}">
						<p class="treeview-text">
							<span class="me-2"><img src="{% static 'img/ifc_icone.png' %}" style="height:13.5px;"></span>
							Site
						</p>
					</a>
				</div>
			</li>
		</ul>
	</li>
	<!-- Classification -->
	<li class="treeview-list-item">
		<a data-bs-toggle="collapse" href="#classification" role="button" aria-expanded="false">
			<p class="treeview-text">
			Classification
			</p>
		</a>
		<ul class="collapse treeview-list" id="classification" data-show="false">
			<li class="treeview-list-item">
				<div class="treeview-item">
					<a class="flex-1" href="{% url 'rudi:download_livrable' pk=44 %}">
						<p class="treeview-text">
							<span class="me-2 far fa-file-pdf text-danger"></span>
							Classification UniFormat 
						</p>
					</a>
				</div>
			</li>
			<li class="treeview-list-item">
				<div class="treeview-item">
					<a class="flex-1" href="{% url 'rudi:download_livrable' pk=45 %}">
						<p class="treeview-text">
							<span class="me-2 far fa-file-alt text-secondary"></span>
							Classification UniFormat version text
						</p>
					</a>
				</div>
			</li>
		</ul>
	</li>
	<!-- Rapports -->
	<li class="treeview-list-item">
		<a data-bs-toggle="collapse" href="#rapport" role="button" aria-expanded="false">
			<p class="treeview-text">
			Rapports
			</p>
		</a>
		<ul class="collapse treeview-list" id="rapport" data-show="false">
			<li class="treeview-list-item">
				<a data-bs-toggle="collapse" href="#treeviewExample-2-1" role="button" aria-expanded="false">
					<p class="treeview-text">
					Réunions
					</p>
				</a>
				<ul class="collapse treeview-list" id="treeviewExample-2-1" data-show="false">
					<li class="treeview-list-item">
						<div class="treeview-item">
							<a class="flex-1" href="{% url 'rudi:download_livrable' pk=46 %}">
								<p class="treeview-text">
									<span class="me-2 far fa-file-pdf text-danger"></span>
									Rappoort issues global
								</p>
							</a>
						</div>
					</li>
					<li class="treeview-list-item">
						<div class="treeview-item">
							<a class="flex-1" href="{% url 'rudi:download_livrable' pk=47 %}">
								<p class="treeview-text">
									<span class="me-2 far fa-file-pdf text-danger"></span>
									Carte heuristique
								</p>
							</a>
						</div>
					</li>
					<li class="treeview-list-item">
						<div class="treeview-item">
							<a class="flex-1" href="{% url 'rudi:download_livrable' pk=48 %}">
								<p class="treeview-text">
									<span class="me-2 far fa-file-pdf text-danger"></span>
									Rapport Qualité
								</p>
							</a>
						</div>
					</li>
					<li class="treeview-list-item">
						<div class="treeview-item">
							<a class="flex-1" href="{% url 'rudi:download_livrable' pk=49 %}">
								<p class="treeview-text">
									<span class="me-2 far fa-file-pdf text-danger"></span>
									Rapport Synthèses
								</p>
							</a>
						</div>
					</li>
				</ul>				
			</li>
			<li class="treeview-list-item">
				<a data-bs-toggle="collapse" href="#treeviewExample-2-2" role="button" aria-expanded="false">
					<p class="treeview-text">
					Contrôle Qualité
					</p>
				</a>
				<ul class="collapse treeview-list" id="treeviewExample-2-2" data-show="false">
					<li class="treeview-list-item">
						<div class="treeview-item">
							<a class="flex-1" href="{% url 'rudi:download_livrable' pk=50 %}">
								<p class="treeview-text">
									<span class="me-2 far fa-file-pdf text-danger"></span>
									Contrôle Qualité Import TOTEM 01
								</p>
							</a>
						</div>
					</li>
					<li class="treeview-list-item">
						<div class="treeview-item">
							<a class="flex-1" href="{% url 'rudi:download_livrable' pk=51 %}">
								<p class="treeview-text">
									<span class="me-2 far fa-file-pdf text-danger"></span>
									Contrôle Qualité Import TOTEM 02
								</p>
							</a>
						</div>
					</li>
					<li class="treeview-list-item">
						<div class="treeview-item">
							<a class="flex-1" href="{% url 'rudi:download_livrable' pk=52 %}">
								<p class="treeview-text">
									<span class="me-2 far fa-file-excel text-success"></span>
									Quality Control List
								</p>
							</a>
						</div>
					</li>
				</ul>
			</li>
			<li class="treeview-list-item">
				<a data-bs-toggle="collapse" href="#treeviewExample-2-3" role="button" aria-expanded="false">
					<p class="treeview-text">
					TOTEM
					</p>
				</a>
				<ul class="collapse treeview-list" id="treeviewExample-2-3" data-show="false">
					<li class="treeview-list-item">
						<div class="treeview-item">
							<a class="flex-1" href="{% url 'rudi:download_livrable' pk=53 %}">
								<p class="treeview-text">
									<span class="me-2 far fa-file-word text-primary"></span>
									Contrôle Qualité Import TOTEM 01
								</p>
							</a>
						</div>
					</li>
					<li class="treeview-list-item">
						<div class="treeview-item">
							<a class="flex-1" href="{% url 'rudi:download_livrable' pk=54 %}">
								<p class="treeview-text">
									<span class="me-2 far fa-file-word text-primary"></span>
									Contrôle Qualité Import TOTEM 02
								</p>
							</a>
						</div>
					</li>
					<li class="treeview-list-item">
						<div class="treeview-item">
							<a class="flex-1" href="{% url 'rudi:download_livrable' pk=55 %}">
								<p class="treeview-text">
									<span class="me-2 far fa-file-word text-primary"></span>
									Shared parameters
								</p>
							</a>
						</div>
					</li>
					<li class="treeview-list-item">
						<div class="treeview-item">
							<a class="flex-1" href="{% url 'rudi:download_livrable' pk=56 %}">
								<p class="treeview-text">
									<span class="me-2"><img src="{% static 'img/ifc_icone.png' %}" style="height:13.5px;"></span>
									Maquette "Totemisée"
								</p>
							</a>
						</div>
					</li>
				</ul>				
			</li>
		</ul>		
	</li>
	<!-- Slides de présentation du 17 juin 2022 -->
	<li class="treeview-list-item">
		<div class="treeview-item">
			<a class="flex-1" href="">
				<p class="treeview-text">
					<span class="me-2 fas fa-exclamation-circle text-primary"></span>
					Présentation du 17 juin 2022
				</p>
			</a>
		</div>
	</li>
</ul>