{% extends "base.html" %}
{% load static %}

{% block titre_page %}Blog(**kwargs){% endblock %}

{% block entete %}
<header class="page-header-ui page-header-ui-dark bg-gradient-primary-to-secondary">
    <div class="page-header-ui-content">
        <div class="container px-5 text-center">
            <div class="row gx-5 justify-content-center">
                <div class="col-lg-8">
                    <h1 class="page-header-ui-title mb-3">Blog</h1>
                    <p class="page-header-ui-text mb-0">Le projet au jour le jour le jour le jour...</p>
                </div>
            </div>
        </div>
    </div>
    {% include "wave_light.html" %}
</header>
{% endblock %}

{% block contenu %}
<section class="bg-light py-4">
    <div class="container px-5">
        {% if headline %}
        <a class="card post-preview post-preview-featured lift mb-5 overflow-hidden" href="{% url 'blog:article-details' slug=headline.slug %}">
            <div class="row g-0">
                <div class="col-lg-5">
                    <img class="post-preview-featured-img" src="{{ headline.image.url }}">
                </div>
                <div class="col-lg-7">
                    <div class="card-body">
                        <div class="py-5">
                            <h5 class="card-title">{{ headline.titre }}</h5>
                            <p class="card-text">{{ headline.intro }}</p>
                        </div>
                        <hr>
                        <div class="post-preview-meta">
                            <img class="post-preview-meta-img" src="{{ headline.created_by.personne.image.url }}">
                            <div class="post-preview-meta-details">
                                <div class="post-preview-meta-details-name">{{ headline.created_by }}</div>
                                <div class="post-preview-meta-details-date">{{ headline.created|date }}</div>
                                <div class="post-preview-meta-details-date">
                                {% for tag in headline.tags.all %}
                                <em class="text-primary">{{ tag }}</em>
                                {% endfor %}    
                                </div>                            
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </a>
        {% endif %}
        {% if publications %}
        <div class="row gx-5" data-masonry='{"percentPosition": true }'>
            {% for article in publications %}
            <div class="col-md-6 col-xl-4 mb-5">
                <a class="card post-preview lift" href="{% url 'blog:article-details' slug=article.slug %}">
                    {% if not 'default.jpg' in article.image.url %}
                    <img class="card-img-top" src="{{ article.image.url }}" alt="...">
                    {% endif %}
                    <div class="card-body">
                        <h5 class="card-title">{{ article.titre }}</h5>
                        <p class="card-text">{{ article.intro }}</p>
                    </div>
                    <div class="card-footer">
                        <div class="post-preview-meta">
                            <img class="post-preview-meta-img" src="{{ article.created_by.personne.image.url }}">
                            <div class="post-preview-meta-details">
                                <div class="post-preview-meta-details-name">{{ article.created_by }}</div>
                                <div class="post-preview-meta-details-date">{{ article.created|date }}</div>
                                <div class="post-preview-meta-details-date">
                                {% for tag in article.tags.all %}
                                <em class="text-primary">{{ tag }}</em>
                                {% endfor %}    
                                </div>  
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            {% endfor %}
        </div>
        {% endif %}
    </div>
</section>
{% endblock %}

{% block js_page %}
<script src="https://cdn.jsdelivr.net/npm/masonry-layout@4.2.2/dist/masonry.pkgd.min.js" integrity="sha384-GNFwBvfVxBkLMJpYMOABq3c+d3KnQxudP/mGPkzpZSTYykLBNsZEnG2D9G/X/+7D" crossorigin="anonymous" async></script>
{% endblock %}
