{% extends "public/base.html" %}
{% load crispy_forms_tags %}
{% block titre_page %}Réinitialisation du mot de passe{% endblock %}

{% block contenu %}
<div class="container py-10">
    <div class="row">
        <div class="col-lg-4 mx-auto">
            <div class="alert alert-primary alert-icon" role="alert">
                <button class="btn-close" type="button" data-bs-dismiss="alert" aria-label="Close"></button>
                <div class="alert-icon-aside">
                    <i class="far fa-flag"></i>
                </div>
                <div class="alert-icon-content">
                    Un courriel vous sera envoyé pour que vous puissiez changer de mot de passe.
                </div>
            </div> 
            <div class="card mb-4">
                <div class="card-body">
                   
                    <form method="POST" enctype="multipart/form-data">
                        {% csrf_token %}
                        <p class="card-text">{{ form|crispy }}</p>
                        <div class="d-flex align-items-center justify-content-between mt-4 mb-0">
                            <button type="submit" class="btn btn-primary">Réinitialiser</button>
                        </div>
                    </form>
                </div>
            </div>             
        </div>      
    </div>
</div>
{% endblock %}
