{% extends "public/base.html" %}
{% load crispy_forms_tags %}
{% block titre_page %}Réinitialisation du mot de passe{% endblock %}

{% block contenu %}
<div class="container py-10">
    <div class="row">
        <div class="col-lg-6 mx-auto">
            <div class="card mb-4">
                <div class="card-body">
                    <form method="POST" enctype="multipart/form-data">
                        {% csrf_token %}
                        <p class="card-text">{{ form|crispy }}</p>
                        <div class="d-flex align-items-center justify-content-between mt-4 mb-0">
                            <button type="submit" class="btn btn-primary">Changer</button>
                        </div>
                    </form>
                </div>
            </div>             
        </div>      
    </div>
</div>
{% endblock %}
