{% extends "base_dash.html" %}
{% load crispy_forms_tags %}
{% block titre_page %}Groupes{% endblock %}

{% block entete_dash %}

<header class="page-header page-header-compact page-header-light border-bottom bg-white mb-4">
	<div class="container-fluid px-4">
	    <div class="page-header-content">
	        <div class="row align-items-center justify-content-between pt-3">
	            <div class="col-auto mb-3">
	                <h1 class="page-header-title">
	                    <div class="page-header-icon"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-user"><path d="M20 21v-2a4 4 0 0 0-4-4H8a4 4 0 0 0-4 4v2"></path><circle cx="12" cy="7" r="4"></circle></svg></div>
	                    Liste des groupes
	                </h1>
	            </div>
	        </div>
	    </div>
	</div>
</header>
{% endblock %}

{% block contenu_dash %}
<div class="container-fluid px-4">
    <div class="row">
        <div class="col">
            <div class="card mb-4">
                <div class="card-body">
                    <table id="example" class="table" style="width: 100%;">
                        <thead>
                            <tr>
                                <th>Groupe</th>
                                <th>Nombre Membre</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for p in object_list %}
                            <tr>
                               <td>
                               	{{ p.name }}
                               </td>
                               <td>
                               	{{ p.user_set.all|length }}
                               </td>
                            </tr>
                              {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>             
        </div>      
    </div>
</div>
{% endblock %}

{% block js_page %}
{% include 'table1.html' %}
{% endblock %}