{% include "easter_egg.txt" %}
{% load static %}
<!DOCTYPE html>
<html lang="fr">
    <head>
        {% include "meta.html" %}
        <title>So long and thank you for the fish</title>
        {% include "public/style.html" %}
        {% block style_page %}{% endblock %}
        {{ form.media }}
    </head>
    <body class="bg-white">
        <div class="container-fluid">
            {% include 'message.html' %}
            <div class="row justify-content-center">
                <div class="col-lg-5">
                    <a href="{% url 'page:accueil' %}">
                        <img class="img-fluid mx-auto d-block" src="{% static 'img/logout.png' %}"/>
                    </a>
                </div>
            </div>
        </div>
    </body>
</html>