{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% block titre_page %}Changement de mot de passe{% endblock %}
{% block body_class %}bg-dark{% endblock %}
{% block contenu %}
{% load static %}
<div class="container pt-10">
  <div class="row">
    <div class="col-lg-6 mx-auto">
      <div class="shadow card bg-light my-5">
        <div class="card-header text-center">
          <h3>Réinitialiser son mot de passe</h3>
        </div>
    <form method="post">
      <div class="card-body">
        <p class="card-text">{{ form|crispy }}</p>
        <button type="submit" class="btn btn-primary">Réinitialiser</button>
      </div>
    </form>
    <div class="card-footer text-muted text-right">
      <small class="text-muted ml-2">
        <a href="{% url 'login' %}">Ah ben si je me souviens :-/</a>
      </small>
    </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}