{% extends 'prive/base.html' %}
{% load static %}
{% load crispy_forms_tags %}
{% load humanize %}
{% block titre %}{{ user }}{% endblock %}


{% block contenu_dash %}
<form method="POST" enctype="multipart/form-data", action="">
{% csrf_token %}
	<div class="row align-items-center">
		<div class="col-lg-4">
			<div class="card mb-3">
				<div class="card-header position-relative min-vh-25 mb-8">
					<div class="cover-image">
						<div class="bg-holder rounded-3 rounded-bottom-0" style="background-image:url('{% static "img/13.jpg" %}');"></div>
					</div>
					<div class="avatar avatar-5xl avatar-profile shadow-lg img-thumbnail rounded-circle">
						<div class="h-100 w-100 rounded-circle overflow-hidden position-relative">
							<img src="{{ user.personne.image.url }}" width="200" alt="" data-dz-thumbnail="data-dz-thumbnail" />
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="col-lg-8">
			<!-- Profile picture upload button-->
			{{ p_form.image|as_crispy_field }}
			<div class="small font-italic text-muted mb-4">JPG ou PNG taille fichier max: 5 MB</div>
			<button class="btn btn-primary my-4" type="submit">Changer de photo</button>			
		</div>
	</div>
	<div class="row g-0">
		<div class="col-lg-12 pe-lg-2">
			<div class="card mb-3">
				<div class="card-header">
					<h5 class="mb-0">Profile Settings</h5>
				</div>
				<div class="card-body bg-light">
                    <div class="row">
                      <div class="col-md col-sm-12">
                        {{ u_form.username|as_crispy_field }}
                      </div>
                      <div class="col-md col-sm-12">
                        {{ u_form.email|as_crispy_field }}
                      </div>
                    </div>
                    <div class="row">
                      <div class="col-md col-sm-12">
                        {{ u_form.first_name|as_crispy_field }}
                      </div>
                      <div class="col-md col-sm-12">
                        {{ u_form.last_name|as_crispy_field }}
                      </div>
                    </div>
                    <div class="row">
                    	<div class="col">
                    		<p class="text-end"><a href="{% url 'password_reset' %}">Changer de mot de passe</a></p>
                    	</div>
                    </div>
					<div class="col-12 d-flex justify-content-end">
						<button class="btn btn-primary" type="submit">Update </button>
					</div>
				</div>
			</div>
		</div>
	</div>
</form>
{% endblock %}