{% include "easter_egg.txt" %}
{% load crispy_forms_tags %}
<!DOCTYPE html>
<html lang="fr">
    <head>
        {% include "meta.html" %}
        <title>Se connecter</title>
        {% include "style_dash.html" %}
        {% block style_page %}{% endblock %}
        {{ form.media }}
    </head>
    <body class="bg-secondary">
        <div id="layoutAuthentication">
            <div id="layoutAuthentication_content">
                <main>
                    <div class="container-xl px-4">
                        <div class="row justify-content-center">
                            <div class="col-lg-5">
                                <!-- Basic login form-->
                                <div class="card shadow-lg border-0 rounded-lg mt-5">
                                    <div class="card-header justify-content-center"><h3 class="fw-light my-4">S'enregistrer'</h3></div>
                                    <div class="card-body">
                                        <!-- Login form-->
                                        <form method="POST" enctype="multipart/form-data">
                                            <p class="card-text">
                                                <div class="row">
                                                    <div class="col">
                                                        {{ form.username|as_crispy_field }}
                                                    </div>
                                                    <div class="col">
                                                        {{ form.email|as_crispy_field }}
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <div class="col">
                                                        {{ form.password1|as_crispy_field }}
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <div class="col">
                                                        {{ form.password2|as_crispy_field }}
                                                    </div>
                                                </div>                        
                                            </p>
                                            <!-- Form Group (login box)-->
                                            <div class="d-flex align-items-center justify-content-between mt-4 mb-0">

                                                <button type="submit" class="btn btn-secondary">Créer le compte</button>
                                            </div>
                                        </form>
                                    </div>
                                    <div class="card-footer text-center">
                                        <div class="small"><a href="auth-register-basic.html">Déjà un compte ? Se connecter</a></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </main>
            </div>
        </div>
        {% include 'js_dash.html' %}
    </body>
</html>