                            <!-- Sidenav Menu Heading (Gestion du Site)-->
                            <div class="sidenav-menu-heading">Gestion du site</div>
                            <!-- Sidenav Accordion -->
                            <a class="nav-link collapsed" href="javascript:void(0);" data-bs-toggle="collapse" data-bs-target="#collapseUser" aria-expanded="false" aria-controls="collapseUser">
                                <div class="nav-link-icon"><i class="fas fa-users"></i></div>
                                Utilisateurs
                                <div class="sidenav-collapse-arrow"><i class="fas fa-angle-down"></i></div>
                            </a>
                            <div class="collapse" id="collapseUser" data-bs-parent="#accordionSidenav">
                                <nav class="sidenav-menu-nested nav accordion" id="accordionSidenavPages">
                                    <a class="nav-link" href="{% url 'users-list' %}">
                                        Liste des utilisateurs
                                    </a>
                                </nav>
                            </div>
                            <div class="collapse" id="collapseUser" data-bs-parent="#accordionSidenav">
                                <nav class="sidenav-menu-nested nav accordion" id="accordionSidenavPages">
                                    <a class="nav-link" href="{% url 'groups-list' %}">
                                        Liste des groupes
                                    </a>
                                </nav>
                            </div>
                            <!-- Sidenav Accordion -->
                            <a class="nav-link collapsed" href="javascript:void(0);" data-bs-toggle="collapse" data-bs-target="#collapseGlossaire" aria-expanded="false" aria-controls="collapseGlossaire">
                                <div class="nav-link-icon"><i class="fas fa-book"></i></div>
                                Glossaire
                                <div class="sidenav-collapse-arrow"><i class="fas fa-angle-down"></i></div>
                            </a>
                            <div class="collapse" id="collapseGlossaire" data-bs-parent="#accordionSidenav">
                                <nav class="sidenav-menu-nested nav accordion" id="accordionSidenavPages">
                                    <a class="nav-link" href="{% url 'glossaire:terms-list' %}">
                                        Liste des termes
                                    </a>
                                </nav>
                            </div>
                            <div class="collapse" id="collapseGlossaire" data-bs-parent="#accordionSidenav">
                                <nav class="sidenav-menu-nested nav accordion" id="accordionSidenavPages">
                                    <a class="nav-link" href="{% url 'glossaire:terme-ajout' %}">
                                        Ajouter un terme
                                    </a>
                                </nav>
                            </div>
                            <!-- Sidenav Accordion -->
                            <a class="nav-link collapsed" href="javascript:void(0);" data-bs-toggle="collapse" data-bs-target="#collapseBlog" aria-expanded="false" aria-controls="collapseBlog">
                                <div class="nav-link-icon"><i class="far fa-newspaper"></i></div>
                                Blog
                                <div class="sidenav-collapse-arrow"><i class="fas fa-angle-down"></i></div>
                            </a>
                            <div class="collapse" id="collapseBlog" data-bs-parent="#accordionSidenav">
                                <nav class="sidenav-menu-nested nav accordion" id="accordionSidenavPages">
                                    <a class="nav-link" href="{% url 'blog:articles-list' %}">
                                        Liste des articles
                                    </a>
                                </nav>
                            </div>
                            <div class="collapse" id="collapseBlog" data-bs-parent="#accordionSidenav">
                                <nav class="sidenav-menu-nested nav accordion" id="accordionSidenavPages">
                                    <a class="nav-link" href="{% url 'blog:nouvel-article' %}">
                                        Créer un article
                                    </a>
                                </nav>
                            </div>

