{% extends "base_dash.html" %}
{% load crispy_forms_tags %}
{% block titre_page %}CUBIM{% endblock %}
{% load static %}

{% block entete_dash %}
<header class="page-header page-header-light bg-light mb-0">
    <div class="container-fluid px-4">
        <div class="page-header-content pt-4">
            <div class="row align-items-center justify-content-between">
                <div class="col-auto mt-4">
                    <h1 class="page-header-title">
                        <div class="page-header-icon"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-layout"><rect x="3" y="3" width="18" height="18" rx="2" ry="2"></rect><line x1="3" y1="9" x2="21" y2="9"></line><line x1="9" y1="21" x2="9" y2="9"></line></svg></div>
                        CUBIM
                    </h1>
                    <div class="page-header-subtitle">Certificat Universitaire BIM Manager 2022</div>
                </div>
            </div>
        </div>
    </div>
</header>
{% endblock %}

{% block contenu_dash %}
<div class="container-fluid px-4">
	<div class="row">
		<div class="col">
			<div class="alert alert-secondary alert-icon" role="alert">
			    <button class="btn-close" type="button" data-bs-dismiss="alert" aria-label="Close"></button>
			    <div class="alert-icon-aside">
			        <i class="far fa-flag"></i>
			    </div>
			    <div class="alert-icon-content">
			        <h6 class="alert-heading">Important</h6>
			        Le contenu de cette page est à stricte destination des participants de la session 2022 du Certificat.
			    </div>
			</div>
		</div>
	</div>
	<div class="row">
		<!-- Programme du certificat-->
		<div class="col-xxl-6 col-xl-12 mb-4">
		    <div class="card card-header-actions h-100">
		        <div class="card-header">
		        	Programme du Certificat
		        </div>
		        <div class="card-body">
		            <div class="timeline timeline-xs">
		                <!-- Timeline Item-->
		                <div class="timeline-item">
		                    <div class="timeline-item-marker">
		                        <div class="timeline-item-marker-text">17.01.22</div>
		                        <div class="timeline-item-marker-indicator bg-green"></div>
		                    </div>
		                    <div class="timeline-item-content">
		                        <ul class="list-unstyled">
		                        	<li>Gestion BIM : les protocoles pour la gestion du projet et de l’exploitation</li>
		                        	<li>Gestion BIM : contrôle qualité et métrés</li>
		                        	<li>Atelier BIM : présentation de l’Atelier et du processus collaboratif</li>
		                        </ul>
		                    </div>
		                </div>
		                <!-- Timeline Item-->
		                <div class="timeline-item">
		                    <div class="timeline-item-marker">
		                        <div class="timeline-item-marker-text">18.01.22</div>
		                        <div class="timeline-item-marker-indicator bg-purple"></div>
		                    </div>
		                    <div class="timeline-item-content">
		                        <ul class="list-unstyled">
		                        	<li>Gestion BIM : le BIM au quotidien</li>
		                        	<li>Gestion BIM : la gestion globale du BIM</li>
		                        	<li>Workshop sur la Stratégie BIM</li>
		                        	<li>Retour d’expérience BIM</li>
		                        </ul>
		                    </div>
		                </div>
		                <!-- Timeline Item-->
		                <div class="timeline-item">
		                    <div class="timeline-item-marker">
		                        <div class="timeline-item-marker-text">19.01.22</div>
		                        <div class="timeline-item-marker-indicator bg-red"></div>
		                    </div>
		                    <div class="timeline-item-content">
		                        <ul class="list-unstyled">
		                        	<li>Gestion BIM : les enjeux de la collaboration</li>
		                        </ul>
		                    </div>
		                </div>
		                <!-- Timeline Item-->
		                <div class="timeline-item">
		                    <div class="timeline-item-marker">
		                        <div class="timeline-item-marker-text">20.01.22</div>
		                        <div class="timeline-item-marker-indicator bg-green"></div>
		                    </div>
		                    <div class="timeline-item-content">
		                        <ul class="list-unstyled">
		                        	<li>Gestion BIM : La collaboration à l’aide de plateformes BIM</li>
		                        	<li>Technologie BIM : les standards qui améliorent l’interopérabilité</li>
		                        </ul>
		                    </div>
		                </div>
		                <!-- Timeline Item-->
		                <div class="timeline-item">
		                    <div class="timeline-item-marker">
		                        <div class="timeline-item-marker-text">21.01.22</div>
		                        <div class="timeline-item-marker-indicator bg-yellow"></div>
		                    </div>
		                    <div class="timeline-item-content">
		                        <ul class="list-unstyled">
		                        	<li>Technologie BIM : les échanges en pratique</li>
		                        	<li>Technologie BIM : les conventions de modélisation</li>
		                        </ul>
		                    </div>
		                </div>
		                <div class="timeline-item">
		                    <div class="timeline-item-marker">
		                        <div class="timeline-item-marker-text">22.01.22</div>
		                        <div class="timeline-item-marker-indicator bg-pink"></div>
		                    </div>
		                    <div class="timeline-item-content">
		                        <ul class="list-unstyled">
		                        	<li>Technologie BIM : les outils BIM pour le travail collaboratif</li>
		                        </ul>
		                    </div>
		                </div>                
		            </div>
		        </div>
		    </div>
		</div>

		<!-- Etude de cas-->
		<div class="col-xxl-6 col-xl-6 mb-4">
		    <div class="card card-header-actions">
		        <div class="card-header">
		            Etude de cas
		        </div>
		        <div class="card-body">
		        	<h3>Certificat BIM – Atelier projet<br>Expérimentation d’un projet collaboratif BIM</h3>
		        	<ul class="list-unstyled">
						<li>Sujet : Agrandissement de l’École supérieure des Arts de Tournai</li>
						<li>Lieu : Rue de l’Hôpital Notre-Dame, 7500 Tournai</li>
						<li>Maître d’ouvrage (fictif) : Ville de Tournai</li>
						<li>Phase de projet : À définir pour chaque groupe en fonction des usages envisagés</li>
						<li>Budget total (études + construction) : à définir</li>
						<li>Date de mise en service : Juin 2026</li>
						<li>Annexes : Plans du site photos disponibles sur Moodle</li>
		        	</ul>
		        </div>
		        <div class="card-footer position-relative">
		            <div class="d-flex align-items-center justify-content-between small text-body">
		                <a class="stretched-link text-body" href="{% url 'catalogue:tfc' %}">Vers le projet du "Groupe Vert"</a>
		                <i class="fas fa-angle-right"></i>
		            </div>
		        </div>
		    </div>
		</div>
	</div>
</div>
{% endblock %}