			            <div class="timeline timeline-xs">
			                <!-- Timeline Item-->
			                <div class="timeline-item">
			                    <div class="timeline-item-marker">
			                        <div class="timeline-item-marker-text">17.01.22</div>
			                        <div class="timeline-item-marker-indicator bg-green"></div>
			                    </div>
			                    <div class="timeline-item-content">
			                        <ul class="list-unstyled">
			                        	<li>Gestion BIM : les protocoles pour la gestion du projet et de l’exploitation</li>
			                        	<li>Gestion BIM : contrôle qualité et métrés</li>
			                        	<li>Atelier BIM : présentation de l’Atelier et du processus collaboratif</li>
			                        </ul>
			                    </div>
			                </div>
			                <!-- Timeline Item-->
			                <div class="timeline-item">
			                    <div class="timeline-item-marker">
			                        <div class="timeline-item-marker-text">18.01.22</div>
			                        <div class="timeline-item-marker-indicator bg-green"></div>
			                    </div>
			                    <div class="timeline-item-content">
			                        <ul class="list-unstyled">
			                        	<li>Gestion BIM : le BIM au quotidien</li>
			                        	<li>Gestion BIM : la gestion globale du BIM</li>
			                        	<li>Workshop sur la Stratégie BIM</li>
			                        	<li>Retour d’expérience BIM</li>
			                        </ul>
			                    </div>
			                </div>
			                <!-- Timeline Item-->
			                <div class="timeline-item">
			                    <div class="timeline-item-marker">
			                        <div class="timeline-item-marker-text">19.01.22</div>
			                        <div class="timeline-item-marker-indicator bg-green"></div>
			                    </div>
			                    <div class="timeline-item-content">
			                        <ul class="list-unstyled">
			                        	<li>Gestion BIM : les enjeux de la collaboration</li>
			                        </ul>
			                    </div>
			                </div>
			                <!-- Timeline Item-->
			                <div class="timeline-item">
			                    <div class="timeline-item-marker">
			                        <div class="timeline-item-marker-text">20.01.22</div>
			                        <div class="timeline-item-marker-indicator bg-green"></div>
			                    </div>
			                    <div class="timeline-item-content">
			                        <ul class="list-unstyled">
			                        	<li>Gestion BIM : La collaboration à l’aide de plateformes BIM</li>
			                        	<li>Technologie BIM : les standards qui améliorent l’interopérabilité</li>
			                        </ul>
			                    </div>
			                </div>
			                <!-- Timeline Item-->
			                <div class="timeline-item">
			                    <div class="timeline-item-marker">
			                        <div class="timeline-item-marker-text">21.01.22</div>
			                        <div class="timeline-item-marker-indicator bg-green"></div>
			                    </div>
			                    <div class="timeline-item-content">
			                        <ul class="list-unstyled">
			                        	<li>Technologie BIM : les échanges en pratique</li>
			                        	<li>Technologie BIM : les conventions de modélisation</li>
			                        </ul>
			                    </div>
			                </div>
			                <div class="timeline-item">
			                    <div class="timeline-item-marker">
			                        <div class="timeline-item-marker-text">22.01.22</div>
			                        <div class="timeline-item-marker-indicator bg-green"></div>
			                    </div>
			                    <div class="timeline-item-content">
			                        <ul class="list-unstyled">
			                        	<li>Technologie BIM : les outils BIM pour le travail collaboratif</li>
			                        </ul>
			                    </div>
			                </div>
			                <!-- Timeline Item-->
			                <div class="timeline-item">
			                    <div class="timeline-item-marker">
			                        <div class="timeline-item-marker-text">16.05.22</div>
			                        <div class="timeline-item-marker-indicator bg-red"></div>
			                    </div>
			                    <div class="timeline-item-content">
			                        <ul class="list-unstyled">
			                        	<li>Gestion BIM : le protocole BIM et les maquettes</li>
			                        	<li>Atelier BIM (3D) : présentation du projet par groupe en vue du jury</li>
			                        </ul>
			                    </div>
			                </div>
			                <!-- Timeline Item-->
			                <div class="timeline-item">
			                    <div class="timeline-item-marker">
			                        <div class="timeline-item-marker-text">17.05.22</div>
			                        <div class="timeline-item-marker-indicator bg-red"></div>
			                    </div>
			                    <div class="timeline-item-content">
			                        <ul class="list-unstyled">
			                        	<li>Technologie BIM : SCAN TO BIM</li>
			                        	<li>Technologie BIM (4D) : méthode et planning</li>
			                        </ul>
			                    </div>
			                </div>
			                <div class="timeline-item">
			                    <div class="timeline-item-marker">
			                        <div class="timeline-item-marker-text">18.05.22</div>
			                        <div class="timeline-item-marker-indicator bg-red"></div>
			                    </div>
			                    <div class="timeline-item-content">
			                        <ul class="list-unstyled">
			                        	<li>Gestion BIM – Codification/Classification</li>
			                        	<li>Technologie BIM (5D & 7D): Economie de la construction</li>
			                        </ul>
			                    </div>
			                </div>
			                <!-- Timeline Item-->
			                <div class="timeline-item">
			                    <div class="timeline-item-marker">
			                        <div class="timeline-item-marker-text">19.05.22</div>
			                        <div class="timeline-item-marker-indicator bg-red"></div>
			                    </div>
			                    <div class="timeline-item-content">
			                        <ul class="list-unstyled">
			                        	<li>Technologie BIM : le BIM Computationnel</li>
			                        	<li>Gestion BIM : aspects contractuels</li>
			                        </ul>
			                    </div>
			                </div>
			                <!-- Timeline Item-->
			                <div class="timeline-item">
			                    <div class="timeline-item-marker">
			                        <div class="timeline-item-marker-text">20.05.22</div>
			                        <div class="timeline-item-marker-indicator bg-red"></div>
			                    </div>
			                    <div class="timeline-item-content">
			                        <ul class="list-unstyled">
			                        	<li>Gestion BIM (7D): exploitation et maintenance des ouvrages</li>
			                        	<li>Gestion BIM : le changement dû à l'implémentation du BIM au sein de l’entreprise</li>
			                        </ul>
			                    </div>
			                </div>
			                <!-- Timeline Item-->
			                <div class="timeline-item">
			                    <div class="timeline-item-marker">
			                        <div class="timeline-item-marker-text">21.05.22</div>
			                        <div class="timeline-item-marker-indicator bg-red"></div>
			                    </div>
			                    <div class="timeline-item-content">
			                        <ul class="list-unstyled">
			                        	<li>Technologie BIM (3D): conception et gestion des fluides.</li>
			                        	<li>Gestion BIM : la synthèse technique</li>
			                        </ul>
			                    </div>
			                </div>        
			            </div>