{% extends "base_dash.html" %}
{% load crispy_forms_tags %}
{% block titre_page %}Agrandissement de l'{{ projet }} | CUBIM{% endblock %}
{% load static %}

{% block entete_dash %}
<header class="page-header page-header-compact page-header-light border-bottom bg-white mb-4">
    <div class="container-fluid px-4">
        <div class="page-header-content">
            <div class="row align-items-center justify-content-between pt-3">
                <div class="col-auto mb-3">
                    <h1 class="page-header-title">
                        <div class="page-header-icon"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-globe"><circle cx="12" cy="12" r="10"></circle><line x1="2" y1="12" x2="22" y2="12"></line><path d="M12 2a15.3 15.3 0 0 1 4 10 15.3 15.3 0 0 1-4 10 15.3 15.3 0 0 1-4-10 15.3 15.3 0 0 1 4-10z"></path></svg></div>
                        Details du projet
                    </h1>
                </div>
                <div class="col-12 col-xl-auto mb-3">
                    <a class="btn btn-sm btn-light text-primary" href="{% url 'catalogue:cubim' %}">
                        <i class="fas fa-arrow-left"></i> Retour à la page du Groupe
                    </a>
                </div>
            </div>
        </div>
    </div>
</header>
{% endblock %}

{% block contenu_dash %}
<div class="container-fluid px-4">
	<div class="row">
		<div class="col">
			<div class="card bg-gradient-primary-to-secondary mb-4">
			    <div class="card-body">
			        <div class="d-flex align-items-center justify-content-between">
			            <div class="me-3">
			                <div class="small text-white-50">Nom du projet:</div>
			                <div class="h1 text-white">Agrandissement de l'{{ projet }}</div>
			            </div>
                  <div class="text-white">
                      {{ projet.fase }}
                  </div>
			        </div>
			    </div>
			</div>			
		</div>
	</div>
  <div class="row">
    <div class="col-lg-12 mx-auto mb-4">
      <div id="map" style="height:200px;"></div>
    </div>    
  </div>
	<div class="row">
    <div class="col-md-6">
      <div class="card mb-4">
          <div class="card-header">Livrables</div>
          <div class="list-group list-group-flush small">
              <div class="list-group-item list-group-item-action">
                  <i class="fas fa-circle fa-sm me-2 text-blue"></i>
                  Spécifications techniques pour la réalisation d’une maquette numérique
              </div>
              <div class="list-group-item list-group-item-action">
                  <i class="fas fa-circle fa-sm me-2 text-yellow"></i>
                  Plan d’exécution pour la réalisation d’une maquette numérique
              </div>
              <div class="list-group-item list-group-item-action">
                  <i class="fas fa-circle fa-sm me-2 text-green"></i>
                  Rapport de contrôle qualité de la maquette numérique
              </div>
              <div class="list-group-item list-group-item-action">
                  <i class="fas fa-circle fa-sm me-2 text-red"></i>
                  Modèles, plans, vidéos, bases de données, et des documents externes associés aux formats natifs (Revit, Word, Excel, etc.) et ouverts (IFC, PDF, CSV, etc.)
              </div>
          </div>
          <div class="card-footer position-relative border-top-0">
            <a class="stretched-link" href="https://drive.google.com/drive/folders/1R2KgpCH-4ECirf-U2GJhZJnB2HV5fh_G?usp=sharing" target="_blank">
                <div class="text-xs d-flex align-items-center justify-content-between">
                    Vers le Common Data Environment (google drive)
                    <i class="fas fa-long-arrow-alt-right"></i>
                </div>
            </a>
          </div>
      </div>
    </div>
    <div class="col-md-6">
      <div class="card mb-4">
        <div class="card-header">Eléments requis</div>
        <div class="list-group list-group-flush small">
          <div class="list-group-item list-group-item-action">
              <i class="fas fa-circle fa-sm me-2 text-pink"></i>
              Les objectifs du projet en BIM
          </div>
          <div class="list-group-item list-group-item-action">
              <i class="fas fa-circle fa-sm me-2 text-purple"></i>
              Les usages de la maquette par le MO et la MOE (très important !)
          </div>
          <div class="list-group-item list-group-item-action">
              <i class="fas fa-circle fa-sm me-2 text-red"></i>
              L’assignation des rôles et des responsabilités
          </div>
          <div class="list-group-item list-group-item-action">
              <i class="fas fa-circle fa-sm me-2 text-indigo"></i>
              Processus d’assurance qualité avec sa checklist
          </div>
          <div class="list-group-item list-group-item-action">
              <i class="fas fa-circle fa-sm me-2 text-yellow"></i>
              Les conventions de modélisation
          </div>
          <div class="list-group-item list-group-item-action">
              <i class="fas fa-circle fa-sm me-2 text-green"></i>
              Le planning et les workflows clés
          </div>
          <div class="list-group-item list-group-item-action">
              <i class="fas fa-circle fa-sm me-2 text-blue"></i>
              Le tableau de production des livrables (LOD, LOI...)
          </div>
          <div class="list-group-item list-group-item-action">
              <i class="fas fa-circle fa-sm me-2 text-orange"></i>
              Les systèmes de classification utilisés
          </div>
          <div class="list-group-item list-group-item-action">
              <i class="fas fa-circle fa-sm me-2 text-pink"></i>
              Les signatures
          </div>
          <div class="list-group-item list-group-item-action">
              <i class="fas fa-circle fa-sm me-2 text-secondary"></i>
              Les annexes
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}

{% block js_page %}
{% load l10n %}
<script type="text/javascript">
var map = L.map('map').setView([50.6086,3.4011], 14);
var osm = L.tileLayer("https://tile.openstreetmap.org/{z}/{x}/{y}.png", {
  attribution: '&copy; <a href="https://www.openstreetmap.org/copyright">OpenStreetMap</a> contributors'
});
map.addLayer(osm);

var markers = L.markerClusterGroup();

{% for adresse in adresses %}
  markers.addLayer(L.marker([{{adresse.latitude|unlocalize}}, {{adresse.longitude|unlocalize}}]).bindPopup('<a href="">{{ adresse }}</a>'));
{% endfor %}

map.addLayer(markers);


map.addControl(new L.Control.Fullscreen());
</script>
{% endblock %}