{% extends "prive/base_dash.html" %}
{% load crispy_forms_tags %}
{% block titre_page %}{{ object }}{% endblock %}

{% block entete_dash %}

<header class="page-header page-header-compact page-header-light border-bottom bg-white mb-4">
	<div class="container-fluid px-4">
	    <div class="page-header-content">
	        <div class="row align-items-center justify-content-between pt-3">
	            <div class="col-auto mb-3">
	                <h1 class="page-header-title">
	                    <div class="page-header-icon"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-user"><path d="M20 21v-2a4 4 0 0 0-4-4H8a4 4 0 0 0-4 4v2"></path><circle cx="12" cy="7" r="4"></circle></svg></div>
	                    {{ object }}
	                </h1>
	            </div>
                <div class="col-auto mb-3">
                    <a class="btn btn-sm btn-light text-primary" href="{% url 'groups-list' %}">
                    <i class="far fa-edit"></i> Retour aux groupes
                    </a>
                </div>
	        </div>
	    </div>
	</div>
</header>
{% endblock %}

{% block contenu_dash %}
<div class="container-fluid px-4 mt-4">
	<div class="row">
		<div class="col-xl-3 col-xxl-4">
			<!-- Team members / people dashboard card example-->
			<div class="card mb-4">
			    <div class="card-header">Membres</div>
			    <div class="card-body">
			    	{% for member in object.user_set.all %}
			        <!-- Personne-->
			        <div class="d-flex align-items-center justify-content-between mb-4">
			            <div class="d-flex align-items-center flex-shrink-0 me-3">
			                <div class="avatar avatar-xl me-3 bg-gray-200"><img class="avatar-img img-fluid" src="{{ member.personne.image.url }}" alt=""></div>
			                <div class="d-flex flex-column fw-bold">
			                    {{ member }}
			                    <div class="small text-muted line-height-normal">{{ member.email}}</div>
			                </div>
			            </div>
			        </div>
			        {% endfor %}
			    </div>
			</div>
		</div>
		<div class="col-xl-3 col-xxl-4">
			<div class="card mb-4">
				<div class="card-header">
					Permissions
				</div>
				<div class=card-body>
					<ul class="list-unstyled">
					{% for permission in object.permissions.all %}
						<li>
							{{ permission.name }}	
						</li>
					{% endfor %}
					</ul>
				</div>
			</div>
		</div>
	</div>
</div>
{% endblock %}