{% extends "prive/base_ajout.html" %}
{% load static %}
{% load crispy_forms_tags %}

{% block titre_page %}Utilisateurs | Groupes{% endblock %}

{% block entete_objet_a_ajouter %}un groupe{% endblock %}

{% block entete_boutons_droites %}
    <a class="btn btn-sm btn-light text-primary" href="{% url 'groups-list' %}">
        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-arrow-left me-1"><line x1="19" y1="12" x2="5" y2="12"></line><polyline points="12 19 5 12 12 5"></polyline></svg>
        Liste des groupes
    </a>
{% endblock %}

{% block formulaire %}
<form method="POST" enctype="multipart/form-data">
{% csrf_token %}
    <div class="row gx-4 justify-content-center">
        <div class="col-lg-8">
            <div class="card mb-4">
                <div class="card-header">Groupe</div>
                <div class="card-body">{{ form|crispy }}</div>
                <div class="card-footer"><button type="submit" class="fw-500 btn btn-primary">Enregistrer</button></div>
            </div>
        </div>
    </div>
</form>
{% endblock %}
