{% extends 'prive/base.html' %}
{% load static %}
{% load humanize %}
{% block titre %}{{ object }}{% endblock %}
{% block contenu_dash %}

<div class="container">
	<div class="row flex-center pt-6">
		<div class="col-lg-6 mx-auto">
			<div class="card overflow-hidden mb-3">
			  <div class="bg-holder d-none d-lg-block bg-card" style="background-image:url('{% static 'img/corner-1.png' %}');">
			  </div>
			  <!--Titre -->
				<div class="card-body position-relative">
			    <div class="row">
			      <div class="col-lg-12">
			        <h1>{{ object }}</h1>
			        <p class="mb-0 small"><em>Date butoir: <span class="text-primary fw-bold">{{ object.date_butoir }}</span></em></p>
			        <p>{{ object.get_status_display }}</p>
			      </div>
			    </div>
			  </div>
			</div>
			<!--Sous Contenu -->
			<div class="card mb-3">
			  <div class="card-body">
			    <div class="row justify-content-between align-items-center">
			      {% if user.is_authenticated %}
			      <div class="col-auto">
			        <a class="btn btn-falcon-default btn-sm me-2" href="{% url 'projet:tache-modif' pk=object.pk %}">Editer</a>
			      </div>
			      {% else %}
			      <div class="col-auto">
			        <a class="btn btn-falcon-default btn-sm" href="{% url 'projet:index' %}">Retour</a>
			      </div>
			      {% endif %}
			    </div>
			  </div>
			</div>
		</div>
	</div>
</div>


{% endblock %}