{% extends "base_dash.html" %}
{% load crispy_forms_tags %}
{% block titre_page %}Etablissements d'enseignement | FASE{% endblock %}
{% load static %}

{% block style_page %}
    <!-- bootstrap5 dataTables css cdn -->
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/v/bs5/dt-1.11.5/b-2.2.2/b-html5-2.2.2/b-print-2.2.2/r-2.2.9/sb-1.3.2/sp-2.0.0/datatables.min.css"/>
 

{% endblock %}

{% block entete_dash %}
<header class="page-header page-header-light bg-light mb-0">
    <div class="container-fluid px-4">
        <div class="page-header-content pt-4">
            <div class="row align-items-center justify-content-between">
                <div class="col-auto mt-4">
                    <h1 class="page-header-title">
                        <div class="page-header-icon"><i class="far fa-object-group"></i></div>
                        Etablissements d'enseignement
                    </h1>
                    <div class="page-header-subtitle">Désigne une entité scolaire placée sous la responsabilité d'un chef d'établissement qui peut être répartie en plusieurs lieux d'implantation géographique. Chaque école dépend d'un pouvoir organisateur et appartient à un "réseau" d'enseignement.</div>
                </div>
            </div>
        </div>
    </div>
</header>
{% endblock %}

{% block contenu_dash %}
<div class="container-fluid px-4">
    <div class="row">
        <div class="col">
            <div class="card mb-4">
                <div class="card-body">
                    <table id="example" class="table" style="width: 100%;">
                        <thead>
                            <tr>
                                <th>idFASE</th>
                                <th>idBCE</th>
                                <th>Nom</th>
                                <th>Réseau</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for etab in object_list %}
                            <tr>
                                <td>{{ etab.fase }}</td>
                                <td>{{ etab.bce }}</td>
                                <td><a href="{{ etab.get_absolute_url }}">{{ etab.name }}</a></td>
                                <td>{{ etab.reseau }}</td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>             
        </div>      
    </div>
</div>
{% endblock %}

{% block js_page %}
{% include 'table1.html' %}
{% endblock %}