{% extends 'public/base.html' %}
{% load static %}
{% block titre %}kwargs solutions{% endblock %}
{% block main %}
      {% include 'public/navbar.html' %}
      <!-- <HEADER> begin ============================-->
      <section class="py-0 overflow-hidden light" id="banner">

        <div class="bg-holder overlay" style="background-image:url('https://source.unsplash.com/jTCLppdwSEc/2400x1600');background-position: center top;">
        </div>
        <!--/.bg-holder-->

        <div class="container vh-100">
          <div class="row flex-center pt-10 pt-lg-10 pb-lg-9 pb-xl-0 justify-content-end">
            <div class="col-md-11 col-lg-8 col-xl-4 pb-7 pb-xl-9 text-start text-xl-start">
              <h1 class="text-black fw-light">Data solutions for<br>AECO industry<br><span class="typed-text fw-bold" data-typed-text='["Architect","Engineering","Construction","explOitation"]'></span></h1>
              <p class="lead text-black">Nous utilisons le modèle IFC (ISO-16739) pour collecter, traiter, stocker et visualiser les informations liées à vos bâtiments.</p>
            </div>

          </div>
        </div>
        <!-- end of .container-->
      </section>
      <!-- <HEADER> close =================+===========-->


{% endblock %}