{% extends "base.html" %}
{% load static %}

{% block titre_page %}kwargs industria{% endblock %}

{% block entete %}
<header class="page-header page-header-dark bg-img-cover" style="background-image: url('https://source.unsplash.com/jTCLppdwSEc/2400x1600');height: 100vh;">
</header>
{% endblock %}

{% block contenu %}
<section class="bg-white py-10">
	<div class="container px-5">
	    <div class="row gx-5 mb-10">
	        <div class="col-lg-6 mb-5 mb-lg-0 divider-right aos-init aos-animate" data-aos="fade">
	            <div class="testimonial p-lg-5">
	                <div class="testimonial-brand">
	                    <h1 class="display-3 text-end text-gray-400">kwargs</h1>
	                </div>
	                <p class="testimonial-quote text-primary text-end">kwargs veut dire <strong>"arguments nommées"</strong> (<em>keyword arguments</em>). Ce concept est central, de l'architecture paramétrique à la maintenace prédictive, en passant par le Bâti Immobilier Modélisé.</p>

	            </div>
	        </div>
	        <div class="col-lg-6 aos-init aos-animate" data-aos="fade" data-aos-delay="100">
	            <div class="testimonial p-lg-5">
	                <div class="testimonial-brand">
						<h1 class="display-3 text-start text-gray-400">industria</h1>
	                </div>
	                <p class="testimonial-quote text-primary">La numérisation de l'industrie du bâtiment est une nécessité. Pour plusieurs raisons. L'une d'entre elles est la performance énergétique. En latin, énergie se dit "Industria".</p>

	            </div>
	        </div>
	    </div>
	</div>
</section>

<section class="bg-img-cover overlay overlay-80 py-10" style="background-image: url('https://source.unsplash.com/USM4CvQMnbY/1920x1280');">
    <div class="container px-5 position-relative">
        <div class="row gx-5 justify-content-center align-items-center">
            <div class="col-lg-10">
                <div class="display-6 text-justify py-10 my-10 text-white">
                	Vous gérez, maintenez et/ou exploitez un parc immobilier ? Appliquer strictement la <span class="text-primary">réglementation en vigueur</span> et mener une politique de <span class="text-primary">gestion patrimoniale</span> nécessitent et produisent beaucoup de données.<br>
                    <span class="text-primary">kwargs industria</span> vous aide à initier et/ou maîtriser la numérisation de vos bâtiments.
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}

