{% extends 'public/base.html' %}
{% load static %}
{% block titre %}Nous contacter{% endblock %}
{% block main %}
      <!-- <HEADER> begin ============================-->
      <section class="py-0 overflow-hidden bg-dark" id="banner">
        <div class="container vh-100">
          <div class="row flex-center pt-8 pt-lg-10 pb-lg-9 pb-xl-0 justify-content-center">
            <div class="col-md-11 col-lg-8 col-xl-8 pb-7 pb-xl-9 text-xl-center">
              <p class="display-1 text-200 text-center mt-4 fs-8">info@kwargs.be</p>
              <a class="btn btn-outline-light border-2 rounded-pill btn-lg mt-4 fs-0 py-2" href="{% url 'page:accueil' %}"><span class="fas fa-angle-left me-2" data-fa-transform="shrink-6 down-1"></span> Retour</a>
            </div>
          </div>
        </div>
      </section>
      <!-- <HEADER> close =================+===========-->

{% endblock %}